workflows/15. Ejecución y Debug -  Flujos de errores.json
{
  "active": false,
  "connections": {
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-08T04:16:04.372Z",
  "id": "BRVFw47VGIDgz8if",
  "isArchived": false,
  "meta": null,
  "name": "15. Ejecución y Debug -  Flujos de errores",
  "nodes": [
    {
      "parameters": {
        "path": "e3b03e6a-5b10-4fd3-8455-9d305a29de95",
        "formTitle": "Test",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Test ",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "b088e2fc-f8ef-4a08-95e5-1fa852aacdf1",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        -416,
        80
      ],
      "webhookId": "e3b03e6a-5b10-4fd3-8455-9d305a29de95"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1a1f4fed-9b61-4818-9b37-496848ce172f",
              "leftValue": "={{ $json['Test '] }}",
              "rightValue": "Texto",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "56fc76c8-ff9b-486b-92eb-d6dd8ee95863",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -208,
        80
      ]
    },
    {
      "parameters": {},
      "id": "f16da9c9-be37-44f8-a9b5-43abb3bf9c85",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "errorMessage": "Ha fallado el flujo. El campo Test no lleva Texto"
      },
      "id": "89568d73-52dc-490c-bfef-5190cd49b696",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-08T04:16:04.379Z",
      "createdAt": "2025-11-08T04:16:04.379Z",
      "role": "workflow:owner",
      "workflowId": "BRVFw47VGIDgz8if",
      "projectId": "epI1cymQzCzDlQMH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-08T04:17:58.571Z",
      "createdAt": "2025-11-08T04:17:58.571Z",
      "id": "kfnzru1ekik6v4r2",
      "name": "🔵 MonetizaAI Learning"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-08T04:20:38.000Z",
  "versionId": "6ac95eae-d9f8-488d-8458-03242cd2f506"
}