workflows/Agente RAG.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Agente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Agente IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Datos Relevantes": {
      "main": [
        [
          {
            "node": "Descargar Archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Trigger": {
      "main": [
        [
          {
            "node": "Datos Relevantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Supabase Vector Store #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store #2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Supabase Vector Store #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI #2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store #2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Archivo": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "ai_memory": [
        [
          {
            "node": "Agente IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Agente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-12T07:16:15.867Z",
  "id": "DDRzq0Y833CuQ5k8",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente RAG",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        656
      ],
      "id": "b5d5a8d0-1d07-4605-85f7-9199b33ba954",
      "name": "Telegram Trigger",
      "webhookId": "c591498b-3ff6-4063-94d8-90357290fa91",
      "credentials": {
        "telegramApi": {
          "id": "cljhbY7TT13yiHcw",
          "name": "Telegram BurnhamBot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Recibes el siguiente mensaje:\n{{ $json.message.text }}",
        "options": {
          "systemMessage": "=# Rol\n\nEres un ayudante 煤til\n\n# Tare\n\nUsa la herramienta para buscar informaci贸n en tu base de datos"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        112,
        544
      ],
      "id": "5da455f4-259d-49ad-87a0-5f5c18188608",
      "name": "Agente IA"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        768
      ],
      "id": "d4e44e82-5aeb-43bc-9ba6-8b00c106c701",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "aKfvNfQbjB1WCvlS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Usa la herramienta para buscar informaci贸n en tu base de datos",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        368,
        768
      ],
      "id": "02deb410-da2a-471c-8241-61ac0d685316",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "mbJSdzurznBn21j8",
          "name": "Supabase Burnham ACC"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        912
      ],
      "id": "c983996f-6bc0-46c3-a816-37adc7da35a0",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "aKfvNfQbjB1WCvlS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $('Drive Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $('Drive Trigger').item.json.mimeType }}{{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f552ee42-7636-4263-8054-5d31b7d533cb",
      "name": "Datos Relevantes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        1312
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1kKUtPF92g5VTSqGHDmQEvL0zJP5feJ0W",
          "mode": "list",
          "cachedResultName": "RAG_",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1kKUtPF92g5VTSqGHDmQEvL0zJP5feJ0W"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "4ea14b73-025b-4e9a-97e0-0063aa5ac1b4",
      "name": "Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        1312
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZsEf29K8HfuXNsa4",
          "name": "Google Drive GB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "63a137dc-ed99-4adc-bab4-c758fbd5d95e",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        160,
        1136
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "2a2da27d-d069-44f0-a838-ba7efbc0515c",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        160,
        1504
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1024,
        1536
      ],
      "id": "7953b8e3-d50d-44c1-b80e-cbb6e373d1ce",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "e35f3af1-9dab-4d6b-a339-b897f57b44b5",
      "name": "Extract from Text File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        160,
        1312
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {}
      },
      "id": "28824d36-c737-4946-aafb-4d74c14521fd",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        896,
        1392
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "da7c42c7-15b6-4a70-8825-39588814e829",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        480,
        1504
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "53b17b69-02f8-4d23-872e-11bfbf07fd7c",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        320,
        1504
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/pdfapplication",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "78d597d7-d11b-4539-8e0b-d64693ab7a16"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "csv",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "830af0d6-aeba-44dc-a160-19f137c6a6bb",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -80,
        1296
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "3473c161-ce8d-4d15-bdd9-2afea57b02db",
      "name": "Supabase Vector Store #2",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        656,
        1200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "mbJSdzurznBn21j8",
          "name": "Supabase Burnham ACC"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        736,
        1392
      ],
      "id": "ed9511a2-ab34-4519-b4ec-a7bcd4231241",
      "name": "Embeddings OpenAI #2",
      "credentials": {
        "openAiApi": {
          "id": "aKfvNfQbjB1WCvlS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Datos Relevantes').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "0bb01843-0009-48c8-b1aa-c66771faf37f",
      "name": "Descargar Archivo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -256,
        1312
      ],
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZsEf29K8HfuXNsa4",
          "name": "Google Drive GB account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        208,
        768
      ],
      "id": "f37227e0-2f95-40bf-a7f7-67964f8a16d0",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "Qj7SJsgBVpgDaruL",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        448
      ],
      "id": "55c707c1-9f0c-48f1-85e9-3262a4545eef",
      "name": "Chat Trigger",
      "webhookId": "5127f82f-7c50-4b7d-bc6f-e0b0242f94fb"
    },
    {
      "parameters": {
        "content": "## 猸锔 Por **Pau Berenguer**\n\nSi est谩s viendo este flujo, recuerda que fue creado con cari帽o por **Pau Berenguer**, prometo que no lleva *bugs*, solo **buenas vibras** \n\n **Conecta Conmigo:**  \n- YouTube: [@PauBerenguerAI](https://www.youtube.com/@PauBerenguerAI)  \n- Skool: [The AI Blueprint Plus](https://www.skool.com/the-ai-blueprint-plus)  \n- Instagram: [@pauberenguer_](https://www.instagram.com/pauberenguer_)  \n- LinkedIn: [Pau Berenguer AI](https://www.linkedin.com/in/pauberenguer-ai)  \n\n\n *Si esta automatizaci贸n te ahorr贸 tiempo o te sac贸 una sonrisa, puedes darme las gracias por cualquiera de esos enlaces*",
        "height": 336,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "42fc6049-cee4-49fb-bcfb-d8503d9fa971",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### C贸mo Conectar Supabase y Postgres a N8N y Crear Agentes RAG con Memoria (Plantilla Gratis)\n\n## [VIDEO](https://www.youtube.com/watch?v=bSDc76mD-K4)",
        "height": 144,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        0
      ],
      "typeVersion": 1,
      "id": "e774c295-ab3b-403b-922b-d92a200d2492",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        544
      ],
      "id": "38a91026-d758-46cf-9871-73cda50ad60d",
      "name": "Send a text message",
      "webhookId": "92b29bbd-7d3a-4eab-a2b0-47a4e660b9cf",
      "credentials": {
        "telegramApi": {
          "id": "cljhbY7TT13yiHcw",
          "name": "Telegram BurnhamBot"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-12T07:16:15.878Z",
      "createdAt": "2025-11-12T07:16:15.878Z",
      "role": "workflow:owner",
      "workflowId": "DDRzq0Y833CuQ5k8",
      "projectId": "epI1cymQzCzDlQMH"
    }
  ],
  "staticData": {
    "node:Drive Trigger": {
      "lastTimeChecked": "2025-11-12T07:47:13Z"
    }
  },
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-11-12T08:35:38.000Z",
  "versionId": "3a46ad6e-24fe-4409-82fa-9e766e05cf0c"
}