workflows/Automatizar Redes Sociales.json
{
  "active": false,
  "connections": {
    "Descargar HTML": {
      "main": [
        [
          {
            "node": "Verificar Scrapeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Descargar HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversión HTML": {
      "main": [
        [
          {
            "node": "Sintetizador Noticias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Scrapeo": {
      "main": [
        [
          {
            "node": "Noticia Inaccesible",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Conversión HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar": {
      "main": [
        [
          {
            "node": "Sintetizador Transcripciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer": {
      "main": [
        [
          {
            "node": "Agrupar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Petición HTTP": {
      "main": [
        [
          {
            "node": "Extraer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código": {
      "main": [
        [
          {
            "node": "Petición HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Link": {
      "main": [
        [
          {
            "node": "Código",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Obtener Enlace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Enlace": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sintetizador Noticias": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sintetizador Transcripciones": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Publicación LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publicacion Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publicacion X (Twitter)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publicacion Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publicacion Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicación LinkedIn": {
      "main": [
        [
          {
            "node": "Prompt Imagen LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicacion X (Twitter)": {
      "main": [
        [
          {
            "node": "Publicar X (Twitter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicacion Instagram": {
      "main": [
        [
          {
            "node": "Prompt Imagen Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Imagen1": {
      "main": [
        [
          {
            "node": "Mirar Estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Imagen": {
      "main": [
        [
          {
            "node": "Mirar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir Imagen": {
      "main": [
        [
          {
            "node": "Publicar LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Imagen Instagram": {
      "main": [
        [
          {
            "node": "Crear Imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Imagen LinkedIn": {
      "main": [
        [
          {
            "node": "Crear Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicacion Threads": {
      "main": [
        [
          {
            "node": "Publicar Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Imagen2": {
      "main": [
        [
          {
            "node": "Mirar Estado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Imagen Facebook": {
      "main": [
        [
          {
            "node": "Crear Imagen2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar LinkedIn": {
      "main": [
        [
          {
            "node": "Actualizar Fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar Instagram": {
      "main": [
        [
          {
            "node": "Actualizar Fila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar X (Twitter)": {
      "main": [
        [
          {
            "node": "Actualizar Fila3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar Threads": {
      "main": [
        [
          {
            "node": "Actualizar Fila4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mirar Estado": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Imagen URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Mirar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagen URL": {
      "main": [
        [
          {
            "node": "Subir Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mirar Estado1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Imagen URL1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Mirar Estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagen URL1": {
      "main": [
        [
          {
            "node": "Subir Imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir Imagen1": {
      "main": [
        [
          {
            "node": "Publicar Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mirar Estado2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Imagen URL2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Mirar Estado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagen URL2": {
      "main": [
        [
          {
            "node": "Subir Imagen2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir Imagen2": {
      "main": [
        [
          {
            "node": "Publicar Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar Facebook": {
      "main": [
        [
          {
            "node": "Actualizar Fila2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicacion Facebook": {
      "main": [
        [
          {
            "node": "Prompt Imagen Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-13T00:52:42.510Z",
  "id": "J7k4PYFMTcYJMA7P",
  "isArchived": false,
  "meta": null,
  "name": "Automatizar Redes Sociales",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "id": "df5b0304-24b1-4796-8f5d-4afa92b86cf1",
      "name": "Descargar HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2864,
        496
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.URL }}",
                    "rightValue": "https://www.youtube.com/",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "URL Noticia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bb04e04c-6d30-4e5c-80b2-90f2984da1b1",
                    "leftValue": "={{ $json.URL }}",
                    "rightValue": "https://www.youtube.com/",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "URL YouTube"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3088,
        736
      ],
      "id": "8efa31d0-9f53-4046-a229-741328175439",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el HTML\nconst htmlContent = $input.first().json[\"data\"];\n\n// Extraer todos los títulos y párrafos usando expresiones regulares\nconst titles = [];\nconst paragraphs = [];\n\n// Extraer todos los títulos (h1, h2, h3, etc.)\nconst titleMatches = htmlContent.match(/<h[1-6][^>]*>(.*?)<\\/h[1-6]>/g);\nif (titleMatches) {\n    for (let match of titleMatches) {\n        titles.push(match.replace(/<[^>]+>/g, '')); // Eliminar etiquetas HTML\n    }\n}\n\n// Extraer todos los párrafos\nconst paragraphMatches = htmlContent.match(/<p[^>]*>(.*?)<\\/p>/g);\nif (paragraphMatches) {\n    for (let match of paragraphMatches) {\n        paragraphs.push(match.replace(/<[^>]+>/g, '')); // Eliminar etiquetas HTML\n    }\n}\n\n// Unir todos los títulos y párrafos en un solo texto\nconst content = \"Títulos:\\n\" + titles.join(\"\\n\") + \"\\n\\nPárrafos:\\n\" + paragraphs.join(\" \");\n\n// Limitar el número de caracteres para OpenAI (opcional)\nconst maxCharacters = 10000;\nlet finalContent = content;\nif (finalContent.length > maxCharacters) {\n    finalContent = finalContent.slice(0, maxCharacters) + '...';\n}\n\n// Retornar solo el contenido procesado y reducido\nreturn [{ json: { content: finalContent } }];\n"
      },
      "id": "467f700f-88fd-4a87-a205-5c4433dd602c",
      "name": "Conversión HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2a6652d3-d140-4439-9262-b13ccb3c09ec",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 403,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "985909e5-d6b4-4c67-8711-10a09261a98f",
      "name": "Verificar Scrapeo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2640,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f747e2d-32b7-4500-8082-90ac0abc55b1",
              "name": "combinedTranscript",
              "value": "={{ $json.data.transcripts.es_auto.custom.map(item => item.text).join(\" \") }}",
              "type": "string"
            },
            {
              "id": "651fbe08-8b4a-43d9-b6bf-74284755d36c",
              "name": "combinedTranscriptEn",
              "value": "={{ $json.data.transcripts.en_auto.custom.map(item => item.text).join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        976
      ],
      "id": "0b9d1c22-f2c4-4b6e-8901-4b777fc7e231",
      "name": "Agrupar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1a54b1d-a2e6-4ade-b209-5b8f3550478e",
              "name": "data.transcripts",
              "value": "={{ $json.data.transcripts }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2384,
        976
      ],
      "id": "d6732c55-1267-42e9-b5f6-896b77d1d5e8",
      "name": "Extraer"
    },
    {
      "parameters": {
        "url": "https://youtube-video-summarizer-gpt-ai.p.rapidapi.com/api/v1/get-transcript-v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $json.videoID }}"
            },
            {
              "name": "platform",
              "value": "youtube"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "1dba69f06emsh4de310a8f373dc9p18f8a3jsn123183fdaf6c"
            },
            {
              "name": "x-rapidapi-host",
              "value": "youtube-video-summarizer-gpt-ai.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2560,
        976
      ],
      "id": "1fb529de-6da2-402e-a73b-199aa0108f97",
      "name": "Petición HTTP"
    },
    {
      "parameters": {
        "jsCode": "// Obtener la URL desde los datos entrantes\nconst url = $json.link_youtube;\n\n// Función para extraer el ID del video de YouTube\nfunction getYouTubeVideoID(url) {\n    const regex = /[?&]v=([a-zA-Z0-9_-]{11})/;\n    const match = url.match(regex);\n    return match ? match[1] : null;\n}\n\n// Extraer el ID del video\nconst videoID = getYouTubeVideoID(url);\n\n// Devolver el ID como resultado\nreturn { videoID };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2736,
        976
      ],
      "id": "6a351519-f369-4e3c-8b49-f1fa75dc92fb",
      "name": "Código"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2857bd5-76e7-4db5-ac53-86ad4ee37445",
              "name": "link_youtube",
              "value": "={{ $json.URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2880,
        976
      ],
      "id": "aacd6200-a654-40bc-af37-acce29b1bae2",
      "name": "Extraer Link"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -3264,
        736
      ],
      "id": "96cafd09-30f1-43a6-b61f-67571c3925cb",
      "name": "Limit"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3600,
        736
      ],
      "id": "6fe7e944-364f-4501-a872-92e65b85ce4b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk",
          "mode": "list",
          "cachedResultName": "LinkedIn Hoja",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Estado",
              "lookupValue": "Sin Procesar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3408,
        736
      ],
      "id": "dff0ace4-8fe6-4057-9045-093081153d20",
      "name": "Obtener Enlace",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un estratega de contenido. Recibirás una o varias NOTICIAS en forma de array JSON, cada una con un campo \"content\" que contiene el texto extraído (puede incluir ruido como \"Tu suscripción...\" o HTML entities). Debes sintetizar TODA la información relevante en un único resumen en español, claro y conciso, sin perder datos clave (quién, qué, cuándo, dónde, por qué es relevante, estatus actual). \n\nREGLAS\n- Devuelve ÚNICAMENTE un objeto JSON válido con una única clave \"content\".\n- No escribas nada fuera del JSON. No añadas explicaciones.\n- No inventes datos. Si algo no está en los textos recibidos, no lo incluyas.\n- Desduplica y limpia ruido (por ejemplo: mensajes de suscripción, navegación, bloques repetidos, HTML entities).\n- Mantén neutralidad y precisión factual. Si hay fechas o cifras, inclúyelas.\n- Longitud orientativa: 150-200 palabras aprox integradas en un solo párrafo.\n- Si el texto no está en español, traduce el resumen al español.\n\nENTRADA\n- articles: {{ $json.content || null }}   // array de objetos; cada objeto puede tener: { \"content\": \"texto de la noticia\" }\n\nSALIDA (SOLO JSON VÁLIDO)\n{\n  \"content\": \"Resumen único, en un solo bloque de texto, claro y completo, que integre: tema principal, hechos clave (quién/qué/cuándo/dónde), contexto y por qué importa; sin viñetas ni títulos, sin texto adicional.\"\n}\n",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2048,
        608
      ],
      "id": "5d07cc86-a784-4e7e-a4a2-86b6b21fddd7",
      "name": "Sintetizador Noticias"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un estratega de contenido. Recibirás la TRANSCRIPCIÓN completa de un vídeo de YouTube y debes sintetizar TODA la información sin perder puntos clave.\n\nREGLAS\n- Devuelve ÚNICAMENTE un objeto JSON válido con una única clave \"content\".\n- No escribas nada fuera del JSON. No añadas explicaciones.\n- No inventes datos. Si algo no está en la transcripción, no lo incluyas.\n- Si la transcripción no está en español, traduce el resumen al español.\n- Mantén precisión, claridad y concisión (150–200 palabras aprox.). Incluye tema, idea principal y 3–5 puntos clave integrados de forma natural.\n\nENTRADA\n- transcript: {{ $json.combinedTranscript || $json.combinedTranscriptEn || null }}\n\nSALIDA (SOLO JSON VÁLIDO)\n{\n  \"content\": \"Resumen único, en un solo bloque de texto, claro y completo que recoja tema principal, qué, por qué importa, y 3–5 ideas clave integradas sin viñetas.\"\n}\n\n   \n",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2048,
        976
      ],
      "id": "d6426f81-a25e-4481-ae06-e4f1ea63dd98",
      "name": "Sintetizador Transcripciones"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47bdc278-d955-492d-a741-01742803c1f1",
              "name": "contenido",
              "value": "={{ $json.message.content.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        784
      ],
      "id": "8fb3d531-0248-494d-bfca-721ef25c7a41",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un estratega de LinkedIn. Recibirás un contenido base y debes crear UN único post simple, claro y directo, listo para publicar.\n\nREGLAS\n- Devuelve ÚNICAMENTE un objeto JSON válido con una única clave \"linkedin_content\".\n- No escribas nada fuera del JSON. No añadas explicaciones.\n- No inventes datos. Mantén español neutro.\n- 600–1100 caracteres aprox.\n- Primeras 1–2 líneas: hook breve.\n- Párrafos cortos (1–2 líneas) y espacios entre bloques.\n- Opcional: 3–5 hashtags al final.\n\nENTRADA\n- contenido: {{ $json.contenido || null }}\n\nSALIDA (SOLO JSON)\n{\n  \"linkedin_content\": \"Hook breve.\\n\\nIdea principal y contexto en 2–3 bloques cortos.\\nIncluye 3–5 ideas clave integradas de forma natural sin viñetas.\\nCierra con una pregunta o invitación a comentar.\\n\\n#IA #Automatización #Productividad\"\n}\n",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1376,
        112
      ],
      "id": "241709ee-3970-4dd0-be28-039e2a44effc",
      "name": "Publicación LinkedIn"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un estratega de X (Twitter). Recibirás un contenido base y debes crear UN único post breve, claro y directo, listo para publicar.\n\nREGLAS\n- Devuelve ÚNICAMENTE un objeto JSON válido con una única clave \"x_content\".\n- No escribas nada fuera del JSON. No añadas explicaciones.\n- Español neutro. No inventes datos.\n- 220–270 caracteres (incluyendo espacios, hashtags y enlace si existe).\n- Estructura: hook corto + insight 1 línea + CTA breve (pregunta opcional).\n- Evita listas, comillas largas y jerga innecesaria.\n\nENTRADA\n- contenido: {{ $json.contenido || null }}\n\nSALIDA (SOLO JSON)\n{\n  \"x_content\": \"Hook breve. Idea clave en una línea. CTA corta (si aplica).\"\n}\n",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1376,
        1328
      ],
      "id": "1f85b314-fd27-4451-864d-a0c101005471",
      "name": "Publicacion X (Twitter)"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un estratega de Instagram. Recibirás un contenido base y debes crear UN único caption claro y directo, listo para publicar (post o reel).\n\nREGLAS\n- Devuelve ÚNICAMENTE un objeto JSON válido con una única clave \"instagram_content\".\n- No escribas nada fuera del JSON. No añadas explicaciones.\n- Español neutro. No inventes datos.\n- 700–1500 caracteres aprox.\n- Estructura: Hook breve (1–2 líneas) → 2–4 bloques cortos con valor → CTA clara.\n- Usa saltos de línea y emojis de forma moderada (opcionales).\n- 3–8 hashtags relevantes al final.\n- Evita enlaces (usa “link en bio” si corresponde). Si recibes un link explícito, menciónalo al final sin repetirlo varias veces.\n\nENTRADA\n- contenido: {{ $json.contenido || null }}\n- link_opcional: {{ $json.link || null }}\n\nSALIDA (SOLO JSON)\n{\n  \"instagram_content\": \"Hook potente en 1–2 líneas.\\n\\nBloque 1 con la idea principal en lenguaje simple.\\n\\nBloque 2 con 2–3 aprendizajes/beneficios integrados en frases cortas.\\n\\nBloque 3 con ejemplo rápido o tip accionable.\\n\\nCTA: ¿Qué te llevas de esto? Cuéntamelo en los comentarios. {{ $json.link ? 'Más info en el link 👉 ' + $json.link : 'Más en el link de mi bio.' }}\\n\\n#IA #Automatización #Negocios #Productividad #Emprendedores\"\n}\n",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1376,
        576
      ],
      "id": "71c70063-9f2a-4eab-b52f-a3bd97623178",
      "name": "Publicacion Instagram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 031cd543-2d44-4333-bc50-86d64baaeee6:948d825aa0635de32b5487e0ea902fdb"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.message.content.image_prompt }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"4:5\",\n  \"output_format\": \"jpeg\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        112
      ],
      "id": "9bc8fb1d-af04-4d80-902c-8f957cfcfe6c",
      "name": "Crear Imagen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 031cd543-2d44-4333-bc50-86d64baaeee6:948d825aa0635de32b5487e0ea902fdb"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.message.content.image_prompt }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"4:5\",\n  \"output_format\": \"jpeg\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        576
      ],
      "id": "1fb85c24-c9d5-4b11-bda3-05582d737c6d",
      "name": "Crear Imagen1"
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create"
      },
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "typeVersion": 2,
      "position": [
        448,
        464
      ],
      "id": "8c6f9b5f-7ee3-4efb-a5e2-42f8a6eb30cd",
      "name": "Publicar Instagram",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create"
      },
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "7f4401fb-9e9c-4654-b005-c2e14c44a73f",
      "name": "Publicar LinkedIn",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "upload"
      },
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "d7bd9dda-f1d3-4ae1-a329-8ede47cda0c4",
      "name": "Subir Imagen",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create"
      },
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "typeVersion": 2,
      "position": [
        -1024,
        1328
      ],
      "id": "6e00d84c-81c2-43a2-9ce9-1889f3e8c72d",
      "name": "Publicar X (Twitter)",
      "credentials": {}
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un generador de prompts para imágenes. A partir del siguiente texto de un post de Instagram, crea UN único prompt listo para un generador de imágenes (SDXL/Midjourney/DALL·E) con solo TÍTULO y VISUAL.\n\nREGLAS\n- Devuelve ÚNICAMENTE un objeto JSON válido con una única clave \"image_prompt\".\n- No escribas nada fuera del JSON. No añadas explicaciones.\n- El diseño debe ser cuadrado, profesional y minimalista para Instagram.\n- SOLO texto permitido: 1 título (≤ 7 palabras). **Sin subtítulo, sin bullets, sin párrafos.**\n\nENTRADA\n- linkedin_content: {{ $json.message.content.instagram_content }}\n- brand_primary (opcional): {{ $json.brand_primary || \"#0A84FF\" }}\n- brand_accent (opcional): {{ $json.brand_accent || \"#1DE9B6\" }}\n- logo_url (opcional): {{ $json.logo_url || null }}\n\nOBJETIVO VISUAL (inclúyelo en el prompt)\n- Crear una imagen para acompañar una publicación de Instagram muy visual, con poco texto pero claro.\n\nSALIDA (SOLO JSON)\n{\n  \"image_prompt\": AQUI EL PROMPT COMPLETO DE LA IMAGEN\n}\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1024,
        576
      ],
      "id": "4ddaf303-56a5-4c81-b572-11af69497e95",
      "name": "Prompt Imagen Instagram"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un generador de prompts para imágenes. A partir del siguiente texto de un post de LinkedIn, crea UN único prompt listo para un generador de imágenes (SDXL/Midjourney/DALL·E) con solo TÍTULO y VISUAL.\n\nREGLAS\n- Devuelve ÚNICAMENTE un objeto JSON válido con una única clave \"image_prompt\".\n- No escribas nada fuera del JSON. No añadas explicaciones.\n- El diseño debe ser cuadrado, profesional y minimalista para LinkedIn.\n- SOLO texto permitido: 1 título (≤ 7 palabras). **Sin subtítulo, sin bullets, sin párrafos.**\n\nENTRADA\n- linkedin_content: {{ $json.message.content.linkedin_content }}\n- brand_primary (opcional): {{ $json.brand_primary || \"#0A84FF\" }}\n- brand_accent (opcional): {{ $json.brand_accent || \"#1DE9B6\" }}\n- logo_url (opcional): {{ $json.logo_url || null }}\n\nOBJETIVO VISUAL (inclúyelo en el prompt)\n- Crear una imagen para acompañar una publicación de LinkedIn muy visual, con poco texto pero claro.\n\nSALIDA (SOLO JSON)\n{\n  \"image_prompt\": AQUI EL PROMPT COMPLETO DE LA IMAGEN\n}\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1024,
        112
      ],
      "id": "2c6671e9-7184-4cdf-af61-e4ce8935ad48",
      "name": "Prompt Imagen LinkedIn"
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create"
      },
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "typeVersion": 2,
      "position": [
        -1024,
        1600
      ],
      "id": "2725784f-e17e-48da-a14e-3ae0774ae484",
      "name": "Publicar Threads",
      "credentials": {}
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un estratega de Threads. Recibirás un contenido base y debes crear UN único post breve, conversacional y claro.\n\nREGLAS\n- Devuelve ÚNICAMENTE un objeto JSON válido con una única clave \"threads_content\".\n- No escribas nada fuera del JSON. No añadas explicaciones.\n- Español neutro. No inventes datos.\n- 220–350 caracteres aprox.\n- Estructura: hook corto → idea clave en lenguaje simple → pregunta/CTA breve.\n- Emojis opcionales y naturales. 1–3 hashtags al final.\n- Si hay enlace, menciónalo una sola vez al final.\n\nENTRADA\n- contenido: {{ $json.contenido || null }}\n- link: {{ $json.link || null }}\n\nSALIDA (SOLO JSON)\n{\n  \"threads_content\": \"Hook breve que despierte curiosidad. Idea principal en una línea y por qué importa. ¿Tú qué opinas? {{ $json.link || '' }} #IA #Automatización\"\n}\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1376,
        1600
      ],
      "id": "d646c115-71cd-4229-b61c-c645e7213add",
      "name": "Publicacion Threads"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 031cd543-2d44-4333-bc50-86d64baaeee6:948d825aa0635de32b5487e0ea902fdb"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.message.content.image_prompt }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"4:5\",\n  \"output_format\": \"jpeg\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        1040
      ],
      "id": "28a748d0-0e87-4119-9158-d4143c3d1958",
      "name": "Crear Imagen2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un generador de prompts para imágenes. A partir del siguiente texto de un post de Facebook, crea UN único prompt listo para un generador de imágenes (SDXL/Midjourney/DALL·E) con solo TÍTULO y VISUAL.\n\nREGLAS\n- Devuelve ÚNICAMENTE un objeto JSON válido con una única clave \"image_prompt\".\n- No escribas nada fuera del JSON. No añadas explicaciones.\n- El diseño debe ser cuadrado, profesional y minimalista para Facebook.\n- SOLO texto permitido: 1 título (≤ 7 palabras). **Sin subtítulo, sin bullets, sin párrafos.**\n\nENTRADA\n- linkedin_content: {{ $json.message.content.instagram_content }}\n- brand_primary (opcional): {{ $json.brand_primary || \"#0A84FF\" }}\n- brand_accent (opcional): {{ $json.brand_accent || \"#1DE9B6\" }}\n- logo_url (opcional): {{ $json.logo_url || null }}\n\nOBJETIVO VISUAL (inclúyelo en el prompt)\n- Crear una imagen para acompañar una publicación de Facebook muy visual, con poco texto pero claro.\n\nSALIDA (SOLO JSON)\n{\n  \"image_prompt\": AQUI EL PROMPT COMPLETO DE LA IMAGEN\n}\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1008,
        1040
      ],
      "id": "be7d3110-d3f8-4a36-83c1-8389cdff8d7d",
      "name": "Prompt Imagen Facebook"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk",
          "mode": "list",
          "cachedResultName": "Redes Sociales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Obtener Enlace').item.json.URL }}",
            "Publicado": "Si",
            "Estado": "Procesado",
            "LinkedIn": "={{ $('Publicación LinkedIn').item.json.message.content.linkedin_content }}",
            "Imagen LinkedIn": "={{ $('Imagen URL').item.json.images[0].url }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen LinkedIn",
              "displayName": "Imagen LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Twitter (X)",
              "displayName": "Twitter (X)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Threads",
              "displayName": "Threads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen Facebook",
              "displayName": "Imagen Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen Instagram",
              "displayName": "Imagen Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publicado",
              "displayName": "Publicado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        0
      ],
      "id": "759523ee-2547-40d5-87e8-2602eca84978",
      "name": "Actualizar Fila",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk",
          "mode": "list",
          "cachedResultName": "Redes Sociales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Obtener Enlace').item.json.URL }}",
            "Publicado": "Si",
            "Estado": "Procesado",
            "Instagram": "={{ $('Publicacion Instagram').item.json.message.content.instagram_content }}",
            "Imagen Instagram": "={{ $('Imagen URL1').item.json.images[0].url }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen LinkedIn",
              "displayName": "Imagen LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Twitter (X)",
              "displayName": "Twitter (X)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Threads",
              "displayName": "Threads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen Facebook",
              "displayName": "Imagen Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen Instagram",
              "displayName": "Imagen Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publicado",
              "displayName": "Publicado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        464
      ],
      "id": "a4047358-3547-4a85-bd01-529b10c4aa24",
      "name": "Actualizar Fila1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk",
          "mode": "list",
          "cachedResultName": "Redes Sociales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Obtener Enlace').item.json.URL }}",
            "Publicado": "Si",
            "Estado": "Procesado",
            "Twitter (X)": "={{ $('Publicacion X (Twitter)').item.json.message.content.x_content }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen LinkedIn",
              "displayName": "Imagen LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Twitter (X)",
              "displayName": "Twitter (X)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Threads",
              "displayName": "Threads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen Facebook",
              "displayName": "Imagen Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen Instagram",
              "displayName": "Imagen Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publicado",
              "displayName": "Publicado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -800,
        1328
      ],
      "id": "b9d9eacf-a907-484d-8576-805b834a1cfc",
      "name": "Actualizar Fila3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk",
          "mode": "list",
          "cachedResultName": "Redes Sociales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Obtener Enlace').item.json.URL }}",
            "Publicado": "Si",
            "Estado": "Procesado",
            "Threads": "={{ $('Publicacion Threads').item.json.message.content.threads_content }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen LinkedIn",
              "displayName": "Imagen LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Twitter (X)",
              "displayName": "Twitter (X)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Threads",
              "displayName": "Threads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen Facebook",
              "displayName": "Imagen Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen Instagram",
              "displayName": "Imagen Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publicado",
              "displayName": "Publicado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -800,
        1600
      ],
      "id": "bc440a14-65b6-4d34-97a4-20e2f3cc0ac8",
      "name": "Actualizar Fila4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}/status ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 031cd543-2d44-4333-bc50-86d64baaeee6:948d825aa0635de32b5487e0ea902fdb"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        112
      ],
      "id": "29587402-32f6-4ca4-b611-a41bbc70a7cf",
      "name": "Mirar Estado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d8e6e8c-7292-495f-b2d3-87b085b3f22d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        48
      ],
      "id": "55f19184-1707-4457-8955-1d725cd6b24e",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        208
      ],
      "id": "d4dc2dd5-b111-4314-abdb-c21b61a8e0c5",
      "name": "Wait",
      "webhookId": "8e90848a-ff85-46af-846b-ecdd619d8a7d"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 031cd543-2d44-4333-bc50-86d64baaeee6:948d825aa0635de32b5487e0ea902fdb"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "a1af1359-c57b-42a0-ac67-9f42155e516f",
      "name": "Imagen URL"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}/status ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 031cd543-2d44-4333-bc50-86d64baaeee6:948d825aa0635de32b5487e0ea902fdb"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        576
      ],
      "id": "e71afae3-0f52-4492-b912-754ec7a47376",
      "name": "Mirar Estado1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d8e6e8c-7292-495f-b2d3-87b085b3f22d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        512
      ],
      "id": "f42d876d-f92f-4b5f-83d0-27626eae421c",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        672
      ],
      "id": "2362e9ff-470c-4eeb-8b5b-eebbee99bfa2",
      "name": "Wait1",
      "webhookId": "8e90848a-ff85-46af-846b-ecdd619d8a7d"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 031cd543-2d44-4333-bc50-86d64baaeee6:948d825aa0635de32b5487e0ea902fdb"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        464
      ],
      "id": "f0ea01e3-2da0-417f-b89f-c24a1b62f3c6",
      "name": "Imagen URL1"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "upload"
      },
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "typeVersion": 2,
      "position": [
        224,
        464
      ],
      "id": "9bbde439-da93-4800-876c-4bf133b1c05d",
      "name": "Subir Imagen1",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk",
          "mode": "list",
          "cachedResultName": "Redes Sociales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Obtener Enlace').item.json.URL }}",
            "Publicado": "Si",
            "Estado": "Procesado",
            "Instagram": "=",
            "Imagen Instagram": "=",
            "Facebook": "={{ $('Publicacion Facebook').item.json.message.content.linkedin_content }}",
            "Imagen Facebook": "={{ $('Imagen URL2').item.json.images[0].url }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen LinkedIn",
              "displayName": "Imagen LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Twitter (X)",
              "displayName": "Twitter (X)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Threads",
              "displayName": "Threads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen Facebook",
              "displayName": "Imagen Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen Instagram",
              "displayName": "Imagen Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publicado",
              "displayName": "Publicado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        912
      ],
      "id": "72294a4a-a20e-4681-b74e-180199754509",
      "name": "Actualizar Fila2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}/status ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 031cd543-2d44-4333-bc50-86d64baaeee6:948d825aa0635de32b5487e0ea902fdb"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        1040
      ],
      "id": "1e83dfda-041f-4101-ad95-9440d4d08443",
      "name": "Mirar Estado2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d8e6e8c-7292-495f-b2d3-87b085b3f22d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        960
      ],
      "id": "bdabb173-adb7-485a-9026-be800e1a95f6",
      "name": "If2"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        16,
        1136
      ],
      "id": "016c582e-cb52-43bf-82f1-4cc3cfb912c1",
      "name": "Wait2",
      "webhookId": "8e90848a-ff85-46af-846b-ecdd619d8a7d"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 031cd543-2d44-4333-bc50-86d64baaeee6:948d825aa0635de32b5487e0ea902fdb"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        912
      ],
      "id": "5b77e577-3614-4dfd-bd4a-af417209a681",
      "name": "Imagen URL2"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "upload"
      },
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "typeVersion": 2,
      "position": [
        240,
        912
      ],
      "id": "67680ff2-2081-45b2-b3e4-c2576dede394",
      "name": "Subir Imagen2",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create"
      },
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "typeVersion": 2,
      "position": [
        464,
        912
      ],
      "id": "898d36cc-c142-4295-b48b-7949ff7aa3ed",
      "name": "Publicar Facebook",
      "credentials": {}
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un estratega de Facebook. Recibirás un contenido base y debes crear UN único post claro y directo, listo para publicar.\n\nREGLAS\n- Devuelve ÚNICAMENTE un objeto JSON válido con una única clave \"facebook_content\".\n- No escribas nada fuera del JSON. No añadas explicaciones.\n- Español neutro. No inventes datos.\n- 500–1200 caracteres aprox.\n- Estructura: hook breve (1–2 líneas) → desarrollo en 2–3 bloques cortos con valor → CTA clara.\n- Incluye 2–5 hashtags al final (opcionales).\n- Si hay enlace, inclúyelo una sola vez al final.\n\nENTRADA\n- contenido: {{ $json.contenido || null }}\n- link: {{ $json.link || null }}\n\nSALIDA (SOLO JSON)\n{\n  \"facebook_content\": \"Hook breve que capte atención.\\n\\nBloque 1: idea principal en lenguaje simple y por qué importa.\\n\\nBloque 2: 2–3 aprendizajes o beneficios integrados en frases cortas.\\n\\nCTA: ¿Qué opinas? Cuéntamelo en comentarios. {{ $json.link ? 'Más aquí: ' + $json.link : '' }}\\n\\n#IA #Automatización #Negocio #Productividad\"\n}\n",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1360,
        1040
      ],
      "id": "71cf6a5c-b36d-48b2-a7f8-da2d51d2b8df",
      "name": "Publicacion Facebook"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk",
          "mode": "list",
          "cachedResultName": "Redes Sociales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQTyYwU1Dy8abT3X2BzqsPveowptuh8mUfqOAPmlgXk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Obtener Enlace').item.json.URL }}",
            "Publicado": "Noticia Inaccesible",
            "Estado": "Procesado",
            "Threads": "="
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen LinkedIn",
              "displayName": "Imagen LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Twitter (X)",
              "displayName": "Twitter (X)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Threads",
              "displayName": "Threads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen Facebook",
              "displayName": "Imagen Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen Instagram",
              "displayName": "Imagen Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publicado",
              "displayName": "Publicado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2400,
        352
      ],
      "id": "b67e8f59-7178-4064-8606-57a3803c15e9",
      "name": "Noticia Inaccesible",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ⚙️ | Automatización IA para Redes Sociales\n# [Guide](https://www.skool.com/monetiziamasters/classroom/a01c786b?md=fc4ca88c813a45e2abec90d460cd1009)\n\n[![Video Tutorial](https://img.youtube.com/vi/Obe3HB82bMk/0.jpg)](https://www.youtube.com/watch?v=Obe3HB82bMk)",
        "height": 512,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2784,
        -272
      ],
      "typeVersion": 1,
      "id": "53f4456e-362c-4c43-912f-c3c356fb0360",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-13T00:52:42.519Z",
      "createdAt": "2025-11-13T00:52:42.519Z",
      "role": "workflow:owner",
      "workflowId": "J7k4PYFMTcYJMA7P",
      "projectId": "epI1cymQzCzDlQMH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-17T07:13:48.866Z",
      "createdAt": "2025-11-17T07:13:48.866Z",
      "id": "PuezpCOhnMCJAbTs",
      "name": "🟢 MonetizaAI"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-17T07:14:09.000Z",
  "versionId": "129a1683-149f-4a2c-a2dd-dbf6aa64f81c"
}