workflows/Data Table.json
{
  "active": false,
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Obtener Contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Contactos": {
      "main": [
        [
          {
            "node": "Insertar Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT #1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente BBDD Nativa",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente Sheets",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "BBDD Nativa": {
      "ai_tool": [
        [
          {
            "node": "Agente BBDD Nativa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sheets": {
      "ai_tool": [
        [
          {
            "node": "Agente Sheets",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Agente BBDD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Filas": {
      "main": [
        [
          {
            "node": "Agente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Producto": {
      "ai_tool": [
        [
          {
            "node": "Agente BBDD",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Altura": {
      "ai_tool": [
        [
          {
            "node": "Agente BBDD",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anchura": {
      "ai_tool": [
        [
          {
            "node": "Agente BBDD",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Peso": {
      "ai_tool": [
        [
          {
            "node": "Agente BBDD",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Color": {
      "ai_tool": [
        [
          {
            "node": "Agente BBDD",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Precio": {
      "ai_tool": [
        [
          {
            "node": "Agente BBDD",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculadora": {
      "ai_tool": [
        [
          {
            "node": "Agente BBDD",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Obtener Filas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA": {
      "main": [
        [
          {
            "node": "Enviar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT #3": {
      "ai_languageModel": [
        [
          {
            "node": "Agente BBDD",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT #2": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Actualizar Filas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Productos": {
      "main": [
        [
          {
            "node": "Insertar Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todas Columnas": {
      "ai_tool": [
        [
          {
            "node": "Agente BBDD",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "Agente BBDD",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-13T07:32:27.899Z",
  "id": "9VcqY0dJC5ZDoMjT",
  "isArchived": false,
  "meta": null,
  "name": "Data Table",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        448
      ],
      "id": "730e1a63-3163-4bdd-a7c8-c5f5da8c1d1d",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bT-mI1lyZy5RpTO0rqa9gz2OIshwWvbVpL_zeK0rw3k",
          "mode": "list",
          "cachedResultName": "Clientes Gimnasio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bT-mI1lyZy5RpTO0rqa9gz2OIshwWvbVpL_zeK0rw3k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 912712723,
          "mode": "list",
          "cachedResultName": "Datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bT-mI1lyZy5RpTO0rqa9gz2OIshwWvbVpL_zeK0rw3k/edit#gid=912712723"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -336,
        448
      ],
      "id": "04b5ca16-d61d-41cd-b598-f62f6643f71d",
      "name": "Obtener Contactos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1072,
        720
      ],
      "id": "eff36984-c217-4b62-bf78-889bdfb713e0",
      "name": "GPT #1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Tu trabajo consiste en utilizar tu herramienta para responder a las preguntas del usuario"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1408,
        720
      ],
      "id": "2132dd6f-3d94-44b3-b1bf-1ba51b74dde3",
      "name": "Agente BBDD Nativa"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "k8fUoxc497LklBiG",
          "mode": "list",
          "cachedResultName": "Clientes Gimnasio",
          "cachedResultUrl": "/projects/43vbPc2uhL3kxUZo/datatables/k8fUoxc497LklBiG"
        },
        "matchType": "allConditions",
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -1200,
        928
      ],
      "id": "6f0d5a39-c8e9-414f-8547-8b5320e0282b",
      "name": "BBDD Nativa"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1l5-8mzhdh0bt7dudQc3r1SKx1qRp-fsq8ahCqrNI7mc",
          "mode": "list",
          "cachedResultName": "Clientes Gimnasio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l5-8mzhdh0bt7dudQc3r1SKx1qRp-fsq8ahCqrNI7mc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 887632551,
          "mode": "list",
          "cachedResultName": "Datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l5-8mzhdh0bt7dudQc3r1SKx1qRp-fsq8ahCqrNI7mc/edit#gid=887632551"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1568,
        928
      ],
      "id": "fc0357da-5e37-4000-a2c5-90922fdf87c5",
      "name": "Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        464,
        880
      ],
      "id": "3f58d1ad-c9bc-42d7-acad-fe834e3e7cf8",
      "name": "Chat Trigger",
      "webhookId": "76180fca-c02c-4325-93e3-bc4df5863e3f"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Tu trabajo consiste en utilizar tu herramienta para responder a las preguntas del usuario"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1792,
        720
      ],
      "id": "3e795ea2-d88e-460f-9c7e-ccb607eba05f",
      "name": "Agente Sheets"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "k8fUoxc497LklBiG",
          "mode": "list",
          "cachedResultName": "Test",
          "cachedResultUrl": "/projects/43vbPc2uhL3kxUZo/datatables/k8fUoxc497LklBiG"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "telefono",
              "keyValue": "={{ $json.messages[0].from }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -528,
        880
      ],
      "id": "9dfa7c53-4ee3-490a-8453-58c3ede2d1ef",
      "name": "Obtener Filas",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        848
      ],
      "id": "7b1def33-eea7-4bcc-bf00-a0990af56933",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1824,
        688
      ],
      "id": "84d84e62-879c-4283-9487-dee2c5d922f0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1440,
        688
      ],
      "id": "58338e8b-9b14-422b-a70d-ee5065387560",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 144,
        "width": 150,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1600,
        912
      ],
      "id": "7c62e2b1-90ca-4467-9594-14a6519222a7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 144,
        "width": 150,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1232,
        912
      ],
      "id": "d60673ff-a5ec-44b0-9274-5864d5b836c1",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 144,
        "width": 150,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1104,
        704
      ],
      "id": "33a8214d-7cc0-44e8-b0ce-038de7f726de",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        416
      ],
      "id": "da17a5ce-0e47-4308-b76c-ebba0228b27d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        416
      ],
      "id": "15354e69-c982-4a1a-ae79-ea7c91cb1a7e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        416
      ],
      "id": "2c3ebc40-72b2-4bdb-8033-d8e0191d4cb0",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -816,
        848
      ],
      "id": "068dc474-c475-4e5f-8424-42797b117aaf",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        848
      ],
      "id": "589c01a8-7f21-4321-be6d-87ba8f191365",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        848
      ],
      "id": "0ce1998b-215f-441f-9ba4-c09e15e1d451",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje: {{ $('WhatsApp Trigger').item.json.messages[0].text.body }}\n\nNombre: {{ $json.nombre }}\n\nCorreo: {{ $json.email }}\n\nTelefono: {{ $json.telefono }}\n\nMembresía: {{ $json.tipo_membresia }}",
        "options": {
          "systemMessage": "=Escribe una respuesta amistosa por WhatsApp al mensaje recibido. \n\nUtiliza los datos de la ficha de este cliente para personalizar la respuesta y hacerla cercana."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -304,
        880
      ],
      "id": "078f2f69-1739-4cb2-bc59-1bae81b08c77",
      "name": "Agente IA"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        848
      ],
      "id": "1280fcfd-5315-48b4-99db-848c2f3b55ef",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "UV6t5tYsgRd1XqJm",
          "mode": "list",
          "cachedResultName": "Productos Ferretería",
          "cachedResultUrl": "/projects/43vbPc2uhL3kxUZo/datatables/UV6t5tYsgRd1XqJm"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "Producto",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "limit": 1000
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        496,
        1120
      ],
      "id": "40fa42e1-ec8e-41af-b5c6-1c1f1552eb72",
      "name": "Producto"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "UV6t5tYsgRd1XqJm",
          "mode": "list",
          "cachedResultName": "Productos Ferretería",
          "cachedResultUrl": "/projects/43vbPc2uhL3kxUZo/datatables/UV6t5tYsgRd1XqJm"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "Precio",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        1136,
        1120
      ],
      "id": "39cad4ac-f4bd-430c-9a10-b3907720f558",
      "name": "Precio"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "UV6t5tYsgRd1XqJm",
          "mode": "list",
          "cachedResultName": "Productos Ferretería",
          "cachedResultUrl": "/projects/43vbPc2uhL3kxUZo/datatables/UV6t5tYsgRd1XqJm"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "Color",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        1008,
        1120
      ],
      "id": "872559c0-1a30-42eb-a4a0-3a18cf787ae9",
      "name": "Color"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "UV6t5tYsgRd1XqJm",
          "mode": "list",
          "cachedResultName": "Productos Ferretería",
          "cachedResultUrl": "/projects/43vbPc2uhL3kxUZo/datatables/UV6t5tYsgRd1XqJm"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "Anchura",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        752,
        1120
      ],
      "id": "b5ac94d4-6f79-4873-9623-560ecf05e2bb",
      "name": "Anchura"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "UV6t5tYsgRd1XqJm",
          "mode": "list",
          "cachedResultName": "Productos Ferretería",
          "cachedResultUrl": "/projects/43vbPc2uhL3kxUZo/datatables/UV6t5tYsgRd1XqJm"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "Altura",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        624,
        1120
      ],
      "id": "de3843f5-340a-4f47-9748-afc035043322",
      "name": "Altura"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "UV6t5tYsgRd1XqJm",
          "mode": "list",
          "cachedResultName": "Productos Ferretería",
          "cachedResultUrl": "/projects/43vbPc2uhL3kxUZo/datatables/UV6t5tYsgRd1XqJm"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "Peso",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        880,
        1120
      ],
      "id": "9c393d8e-f3fc-4004-8764-c5282fb53e83",
      "name": "Peso"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1344,
        1120
      ],
      "id": "08238dc7-1ffb-468e-82cb-9d7e0f3ccb80",
      "name": "Calculadora"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Rol\n\nEres FerreData AI, un experto en analizar datos de productos de ferretería y responder consultas con precisión y claridad.\n\nContexto\n\nDispones de una base de datos de inventario con las siguientes columnas:\n\n- Producto\n- Altura\n- Anchura\n- Peso\n- Color\n- Precio\n\nCuentas con estas herramientas para trabajar:\n\n-Todos – devuelve todas las filas de la base de datos.\n-Producto – filtra por nombre de producto.\n-Color – filtra por color.\n-Altura, Anchura, Peso – filtran por dimensiones.\n-Precio – filtra por rango de precios.\n-Calculadora – realiza operaciones matemáticas (promedios, totales, comparaciones).\n\nTareas\n\nResponder preguntas sobre productos de la ferretería usando los datos disponibles.\n\nSeleccionar siempre la herramienta más específica para cada consulta.\n\nRealizar cálculos únicamente a través de la herramienta Calculadora.\n\nExplicar de forma breve y clara cómo se obtuvo la respuesta.\n\nEspecificaciones\n\n-Si se menciona un producto → usar Producto.\n-Si se menciona un color → usar Color.\n-Si se mencionan dimensiones → usar Altura, Anchura o Peso.\n-Si se menciona precio o rango → usar Precio.\n-Si no hay filtros claros → usar Todos.\n-Nunca inventar datos ni hacer cálculos manuales.\n-Mantener siempre un tono profesional y conciso.\n\nNotas\n\n- Confirmar siempre la información con datos antes de dar la respuesta.\n- Si el usuario pide varios filtros (ejemplo: producto + color + precio), combinar las operaciones de forma lógica y secuencial.\n- La explicación debe ser sencilla para que el usuario entienda el resultado.\n\nEjemplos\n\nUsuario: “¿Cuál es el peso promedio de los martillos?”\n\nAcción: Producto para \"Martillo\".\n\nLuego enviar Peso a la Calculadora para obtener el promedio.\n\nRespuesta: “El peso promedio de los martillos es de X kg.”\n\nUsuario: “Muéstrame los productos rojos.”\n\nAcción: Color para \"rojo\".\n\nRespuesta: listado de productos."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        720,
        880
      ],
      "id": "2121a4ec-36ef-4eef-bcf8-77b25f731842",
      "name": "Agente BBDD"
    },
    {
      "parameters": {
        "content": "",
        "height": 144,
        "width": 262,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        864
      ],
      "id": "11cc7362-f3f8-40a8-abe3-0038b8cba852",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "",
        "width": 902,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        1088
      ],
      "id": "1452d08c-4823-4cca-a280-dab2bee52b94",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "",
        "height": 128,
        "width": 166
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1296,
        1104
      ],
      "id": "e215b6d8-4456-411c-93b8-b3daa602d5b0",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        880
      ],
      "id": "36ad0e84-0122-43ab-b513-728114695814",
      "name": "WhatsApp Trigger",
      "webhookId": "c14d86b3-bf55-42c0-804e-58334b0ea061"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "616116878254396",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        48,
        880
      ],
      "id": "8865fbca-817f-4d15-b17e-239f7bce3c54",
      "name": "Enviar Mensaje",
      "webhookId": "02c82af5-340f-44b3-8eb3-334043ecef32"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        848
      ],
      "id": "f184665b-0ee1-42bf-9f48-90a00221e5e2",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "",
        "height": 144,
        "width": 150,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        704
      ],
      "id": "6da5f6f6-03c8-487d-a449-af14e4007e5e",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1056,
        896
      ],
      "id": "9647581b-4217-4660-b1a0-bc0b92eb1003",
      "name": "GPT #3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        736
      ],
      "id": "7a128fe6-7262-49bc-a9f5-4535ae7fdf6d",
      "name": "GPT #2"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1l5-8mzhdh0bt7dudQc3r1SKx1qRp-fsq8ahCqrNI7mc",
          "mode": "list",
          "cachedResultName": "Clientes Gimnasio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l5-8mzhdh0bt7dudQc3r1SKx1qRp-fsq8ahCqrNI7mc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 887632551,
          "mode": "list",
          "cachedResultName": "Datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l5-8mzhdh0bt7dudQc3r1SKx1qRp-fsq8ahCqrNI7mc/edit#gid=887632551"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        1184
      ],
      "id": "324fdbda-b1bd-4e66-a936-f247ea13ccbc",
      "name": "Google Sheets Trigger"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -816,
        1152
      ],
      "id": "f4341cd3-113d-46f7-b6b6-ee1fc24cf130",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        1152
      ],
      "id": "e009a5e8-96d8-4389-ab45-1e2e744ddbcb",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "k8fUoxc497LklBiG",
          "mode": "list",
          "cachedResultName": "Clientes Gimnasio",
          "cachedResultUrl": "/projects/43vbPc2uhL3kxUZo/datatables/k8fUoxc497LklBiG"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "telefono",
              "keyValue": "={{ $json.telefono }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.nombre }}",
            "telefono": "={{ $json.telefono }}",
            "tipo_membresia": "={{ $json.tipo_membresia }}",
            "email": "={{ $json.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tipo_membresia",
              "displayName": "tipo_membresia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -528,
        1184
      ],
      "id": "fde925dc-f38e-4cc3-bede-8eb9b8229b69",
      "name": "Actualizar Filas",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        416
      ],
      "id": "344cf286-9b8b-4cef-9594-b8a2a61ca15d",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        416
      ],
      "id": "b133e173-8ebb-4999-b870-dcde5d6e2530",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Y0lIKpTF4fFZJ_EF2OzeYAv1mO2trTay5t8Wjr629uQ",
          "mode": "list",
          "cachedResultName": "Productos Ferretería",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y0lIKpTF4fFZJ_EF2OzeYAv1mO2trTay5t8Wjr629uQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y0lIKpTF4fFZJ_EF2OzeYAv1mO2trTay5t8Wjr629uQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        448
      ],
      "id": "107ef496-f22a-44fd-aa4a-dbb29f25171a",
      "name": "Obtener Productos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "UV6t5tYsgRd1XqJm",
          "mode": "list",
          "cachedResultName": "Productos Ferretería",
          "cachedResultUrl": "/projects/43vbPc2uhL3kxUZo/datatables/UV6t5tYsgRd1XqJm"
        },
        "matchType": "allConditions",
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        368,
        1120
      ],
      "id": "c4d3a61b-29fd-4886-9e0f-a908e5984860",
      "name": "Todas Columnas"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1184,
        896
      ],
      "id": "721fc14b-7f3c-4e9c-bd8d-94feaca5ece6",
      "name": "Memoria"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "UV6t5tYsgRd1XqJm",
          "mode": "list",
          "cachedResultName": "Productos Ferretería",
          "cachedResultUrl": "/projects/43vbPc2uhL3kxUZo/datatables/UV6t5tYsgRd1XqJm"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Producto": "={{ $json.Producto }}",
            "Altura": "={{ $json.Altura }}",
            "Anchura": "={{ $json.Anchura }}",
            "Peso": "={{ $json.Peso }}",
            "Color": "={{ $json.Color }}",
            "Precio": "={{ $json.Precio }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Producto",
              "displayName": "Producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Altura",
              "displayName": "Altura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Anchura",
              "displayName": "Anchura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Peso",
              "displayName": "Peso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Color",
              "displayName": "Color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Precio",
              "displayName": "Precio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        704,
        448
      ],
      "id": "f9b693b1-2ccc-469c-8239-ff6a1cf6bda0",
      "name": "Insertar Productos"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "k8fUoxc497LklBiG",
          "mode": "list",
          "cachedResultName": "Clientes Gimnasio",
          "cachedResultUrl": "/projects/43vbPc2uhL3kxUZo/datatables/k8fUoxc497LklBiG"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.nombre }}",
            "email": "={{ $json.email }}",
            "telefono": "={{ $json.telefono }}",
            "tipo_membresia": "={{ $json.tipo_membresia }}"
          },
          "matchingColumns": [
            "Nombre"
          ],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tipo_membresia",
              "displayName": "tipo_membresia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -96,
        448
      ],
      "id": "69ac082b-3fe5-4400-a1cd-32a9fe8d5ea4",
      "name": "Insertar Clientes"
    },
    {
      "parameters": {
        "content": "👨‍💻 **Plantilla creada por:** [Pau Berenguer](https://pau-berenguer.com/)\n\n✨ Sí, lo confieso: esta plantilla de n8n la he construido yo.\n\nPrometo que no lleva bugs… solo buenas vibras 🤖\n\n📡 Puedes seguirme o saber más aquí:\n\n- 👥 [Skool](https://www.skool.com/the-ai-blueprint-plus)\n- ▶️ [YouTube](https://www.youtube.com/@PauBerenguerAI)\n- 💼 [LinkedIn](https://www.linkedin.com/in/pauberenguer-ai/)\n\n\n💡 *Si esta plantilla te ha sido útil, me encantará saberlo.* 🚀",
        "height": 304,
        "width": 432,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        -32
      ],
      "id": "8478f0bd-c704-4e1a-8a4e-46caf9aedec5",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## NUEVO VIDEO: Las NUEVAS Bases de Datos de N8N Acaban de Cambiar Todo (Adiós Google Sheets)\n# [Guide](https://www.skool.com/the-ai-blueprint/nuevo-video-las-nuevas-bases-de-datos-de-n8n-acaban-de-cambiar-todo-adios-google-sheets)",
        "height": 368,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        -32
      ],
      "typeVersion": 1,
      "id": "382544c6-15bc-4e2a-93f6-a6cbacc80c2f",
      "name": "Sticky Note23"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-13T07:32:27.907Z",
      "createdAt": "2025-11-13T07:32:27.907Z",
      "role": "workflow:owner",
      "workflowId": "9VcqY0dJC5ZDoMjT",
      "projectId": "epI1cymQzCzDlQMH"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-13T07:34:17.000Z",
  "versionId": "0759e450-a605-45e2-b340-4dae346f8e9a"
}