workflows/FDP_Ejemplo_1 copy.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-30T03:50:47.785Z",
  "id": "jWsBQ6QPJ3plAPis",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "FDP_Ejemplo_1 copy",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "f9cb024b-928f-4bfb-bc0c-a368a69ab65e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f286781-ed09-44e1-8c6e-12c0528afd37",
              "name": "PROMPT",
              "value": "Crea una imagen, para dar los buenos días que ya es hora de levantarse a mi amada esposa apasiona de la Inteligencia Artificial y las automatizaciones. ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "0efa9dc6-851a-4364-a8b0-95f0a32e5360",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.PROMPT }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        320,
        0
      ],
      "id": "13b207e7-38f6-418a-9a41-db0144d3b4cc",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "aKfvNfQbjB1WCvlS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "18c1d69c-769a-4e43-9f27-93182d8c533d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "nacaIA",
        "remoteJid": "4367762329069",
        "media": "={{ $json.data }}",
        "caption": "Buenos días mi reina, es hora de levantarse!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "54ef00ea-e41d-4225-bab1-7200fbbdfcb3",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "xx7NQwgqrCANhFMj",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-30T03:50:47.795Z",
      "createdAt": "2025-10-30T03:50:47.795Z",
      "role": "workflow:owner",
      "workflowId": "jWsBQ6QPJ3plAPis",
      "projectId": "epI1cymQzCzDlQMH"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-30T03:50:47.785Z",
  "versionId": "9040cc52-dc80-4172-9a75-c2b9c88e03dd"
}