workflows/Generador de ideas de contenido virales.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-21T08:06:28.145Z",
  "id": "WJ5awbg1OL9n9RRO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Generador de ideas de contenido virales",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d8cd9b43-e1ee-4483-8882-835043e0b2a4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "h7sDV53CddomktSi5",
          "mode": "id"
        },
        "customBody": "={\n  \"searchQueries\": [\"{{ $json.tema }}\"],\n  \"maxResults\": 3,\n  \"maxResultsShorts\": 2,\n  \"maxResultStreams\": 0,\n  \"downloadSubtitles\": true,\n  \"saveSubsToKVS\": true,\n  \"subtitlesLanguage\": \"any\",\n  \"subtitlesFormat\": \"plaintext\",\n  \"sortingOrder\": \"relevance\",\n  \"isLive\": false,\n  \"lengthFilter\": \"under4\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "cccd13e2-a569-408e-859b-1c053a0c1da8",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "KWuKR5HZmJ5V9uXO",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57793885-aaa8-4c69-b3eb-43c55f8dcbb1",
              "name": "tema",
              "value": "agencia ia",
              "type": "string"
            },
            {
              "id": "a057613a-27f8-4bd4-b2fe-cbef912404b8",
              "name": "empresa",
              "value": "AIlink",
              "type": "string"
            },
            {
              "id": "1804f331-995a-4b7c-a52e-28dda8817437",
              "name": "contexto",
              "value": "AIlink es una empresa que ayuda a personas a crear un emprendimeinto exitoso creando sus propias agencias IA. Cuenta con la comunidad en Skool más grande de habla hispana sobre inteligencia artificial, y un canal de YouTube con +80k suscriptores. Publica contenido sobre cómo crear tu propia agencia IA, generación de leads, automatizaciones para vender, etc.",
              "type": "string"
            },
            {
              "id": "b479ac34-a8df-46e8-aa49-40d9471a7c7c",
              "name": "contenidos",
              "value": 10,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "51a14ae6-44ba-495d-851b-53d7d3255161",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Título: {{ $json.title }}\n\nTranscripción: {{ $json.subtitles[0].plaintext }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un resumidor de información. Vas a recibir el título de un video junto con su transcripción, y debes entregar un resumen conciso sobre la temática del video y los puntos clave. Solo responde con este resumen. El resumen debe estar en Español."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        672,
        0
      ],
      "id": "0b2322a8-1fe3-4fe8-ad08-34a990657506",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        752,
        224
      ],
      "id": "3a8185f3-a32e-4754-b77e-c7cc02d4986a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aKfvNfQbjB1WCvlS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ],
      "id": "4642fb6d-88f5-4c98-b5f3-b1bd28d1e777",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "=Enriquece la siguiente información extraída de videos en tendencia en YouTube y valida que todo esté correcto. Crea un reporte detallado.\n\n**Información extraída de videos en tendencia de YouTube**\n\n{{ $('Aggregate').item.json.text.map((item, i) => `Video ${i + 1}: ${item}`).join(\"\\n\") }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        1248,
        0
      ],
      "id": "6f966cd1-8d27-4f14-800e-be11b2a3fd47",
      "name": "Message a model",
      "credentials": {
        "perplexityApi": {
          "id": "z9WnLPkiBDFJTre2",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1472,
        224
      ],
      "id": "39354c67-3fb7-4a15-9a42-8d51954f87a5",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "aKfvNfQbjB1WCvlS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"titulo\": {\n        \"type\": \"string\",\n        \"description\": \"Título del contenido\",\n        \"example\": \"3 formas poco conocidas de crear contenido para LinkedIn\"\n      },\n      \"contenido\": {\n        \"type\": \"string\",\n        \"description\": \"De qué va a tratar el contenido\"\n      }\n    },\n    \"required\": [\"titulo\", \"contenido\"]\n  }\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1600,
        224
      ],
      "id": "9e658c5d-4b2d-482f-a73f-972f1a554ed9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1680,
        432
      ],
      "id": "590e3c5e-e254-46f3-9d03-b533fafee963",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "aKfvNfQbjB1WCvlS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=---Información de los videos---\n\n{{ $('Aggregate').item.json.text.map((item, i) => `Video ${i + 1}: ${item}`).join(\"\\n\") }}\n\n---Investigación de mercado---\n\n{{ $('Message a model').item.json.choices[0].message.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Rol\nEres un experto en social media marketing que trabaja para {{ $('Edit Fields').item.json.empresa }}. Tu trabajo es crear ideas de contenido virales.\n\n# Contexto\n{{ $('Edit Fields').item.json.contexto }}\n\n# Tarea\nVas a recibir resúmenes de contenidos que están en tendencia en plataformas como YouTube. Usando estos contenidos, tienes que crear un calendario de contenido viral con {{ $('Edit Fields').item.json.contenidos }} contenidos incluyendo:\n\n-Título del contenido\n-De qué va a tratar el contenido\n\nPara enriquecer los contenidos o para asegurarte de que toda la información sea válida, recibirás también una investigación de mercado detallada.\n\nTus respuestas deben estar en formato JSON, siguiendo esta estructura:\n\nRespuesta: {\n  [\n    {\n      \"titulo\": \"Título del contenido 1\",\n      \"contenido\": \"De qué va a tratar el contenido 1\"\n    },\n    {\n      \"titulo\": \"Título del contenido 2\",\n      \"contenido\": \"De qué va a tratar el contenido 2\"\n    },\n    ...,\n    {\n      \"titulo\": \"Título del contenido {{ $('Edit Fields').item.json.contenidos }}\",\n      \"contenido\": \"De qué va a tratar el contenido {{ $('Edit Fields').item.json.contenidos }}\"\n    }\n  ]\n}\n\n# Especificaciones\n-Crea contenidos originales y únicos.\n-Da detalles específicos para que una persona pueda crear el contenido de forma fácil a partir de esta información."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1504,
        0
      ],
      "id": "ac2a6eec-6c07-4eed-866b-0427a0e4ac45",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16xy5WVG0rmBEJtkTLNLICPSJo2P-cppRCE0GzKA47XQ",
          "mode": "list",
          "cachedResultName": "Ideas de contenido",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16xy5WVG0rmBEJtkTLNLICPSJo2P-cppRCE0GzKA47XQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16xy5WVG0rmBEJtkTLNLICPSJo2P-cppRCE0GzKA47XQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Título": "={{ $json.titulo }}",
            "Detalles": "={{ $json.contenido }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Detalles",
              "displayName": "Detalles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2192,
        0
      ],
      "id": "e8b81161-04d4-41a1-ba66-16e74745ba2e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1968,
        0
      ],
      "id": "f91d4329-e948-4f8b-9867-adc6f0be0d3d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "content": "[![Miniatura](https://img.youtube.com/vi/5F9Icwk6hKo/0.jpg)](https://youtu.be/5F9Icwk6hKo)\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -208
      ],
      "typeVersion": 1,
      "id": "59ad1c04-8225-4c9e-b4e6-6436ec8f8432",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-21T08:06:28.149Z",
      "createdAt": "2025-11-21T08:06:28.149Z",
      "role": "workflow:owner",
      "workflowId": "WJ5awbg1OL9n9RRO",
      "projectId": "epI1cymQzCzDlQMH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-17T07:18:23.162Z",
      "createdAt": "2025-11-17T07:18:23.162Z",
      "id": "PXkDvfRSaasOewMC",
      "name": "☑️ AIlink"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-21T08:12:13.000Z",
  "versionId": "862f8f6e-1073-49e3-b81c-e11f9cb47b61"
}