workflows/Inmobiliaria Imagenes.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Extract Folder ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Folder ID": {
      "main": [
        [
          {
            "node": "Filter Images Only",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Images Only": {
      "main": [
        [
          {
            "node": "Loop Over Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Images": {
      "main": [
        [],
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Extract to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract to Base64": {
      "main": [
        [
          {
            "node": "Send Image WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Image WhatsApp": {
      "main": [
        [
          {
            "node": "Wait 2 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Seconds": {
      "main": [
        [
          {
            "node": "Loop Over Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter Images Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-19T22:47:12.941Z",
  "id": "2K2cjhpRMSAKa7Xu",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Inmobiliaria Imagenes",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id"
            },
            {
              "name": "numero"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1344,
        -48
      ],
      "id": "809fb1b3-fb9e-4573-b0bf-32dfc65cbdec",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cGPzbXAtcbcN5iuYZuyjXEf2iqgVOP38AD2Cg9gkjl8",
          "mode": "list",
          "cachedResultName": "INMOBILIARIA DDBB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cGPzbXAtcbcN5iuYZuyjXEf2iqgVOP38AD2Cg9gkjl8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Propiedades",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cGPzbXAtcbcN5iuYZuyjXEf2iqgVOP38AD2Cg9gkjl8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1120,
        -48
      ],
      "id": "d3e6b581-78cb-4ed0-989c-989bbc002c60",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener el n칰mero de tel칠fono del trigger\nconst numero = $('When Executed by Another Workflow').item.json.numero;\n\n// Obtener la URL de la carpeta de im치genes\nconst imagenesUrl = $json[\"Im치genes\"] || \"\";\n\nif (!imagenesUrl) {\n  throw new Error('No se encontr칩 URL de carpeta en la columna Im치genes');\n}\n\nlet folderId = null;\n\n// Extraer folderId de diferentes formatos de URL de Google Drive\nlet match = imagenesUrl.match(/\\/folders\\/([^/?]+)/);\nif (match) {\n  folderId = match[1];\n}\n\nif (!folderId) {\n  match = imagenesUrl.match(/[?&]id=([^&]+)/);\n  if (match) folderId = match[1];\n}\n\nif (!folderId && imagenesUrl.length > 10 && !imagenesUrl.includes('/')) {\n  folderId = imagenesUrl.trim();\n}\n\nif (!folderId) {\n  throw new Error('No se pudo extraer el ID de la carpeta. URL: ' + imagenesUrl);\n}\n\nreturn [{ \n  json: { \n    folderId: folderId,\n    numero: numero,\n    propertyId: $json.ID\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        -48
      ],
      "id": "2f5be1f9-f1e4-45aa-bd22-9090e6c935d6",
      "name": "Extract Folder ID"
    },
    {
      "parameters": {
        "jsCode": "// Filtrar solo archivos de imagen\nconst imageTypes = [\n  'image/jpeg',\n  'image/jpg', \n  'image/png',\n  'image/gif',\n  'image/webp',\n  'image/bmp'\n];\n\n// Obtener el n칰mero del nodo anterior\nconst numero = $('Extract Folder ID').item.json.numero;\n\nconst items = $input.first().json.files || [];\nconst imageFiles = items.filter(item => {\n  const mimeType = (item.mimeType || '').toLowerCase();\n  return imageTypes.includes(mimeType);\n});\n\nif (imageFiles.length === 0) {\n  throw new Error('No se encontraron im치genes en la carpeta');\n}\n\n// Agregar el n칰mero a cada item de imagen\nreturn imageFiles.map(item => ({\n  json: {\n    ...item.j    numero: numero\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -48
      ],
      "id": "d2c646c4-a105-4c56-b523-020f6041ce00",
      "name": "Filter Images Only"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        -48
      ],
      "id": "51ae46f2-c74f-4a59-8313-a93780d9e501",
      "name": "Loop Over Images"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -240,
        160
      ],
      "id": "e246b2a3-21dd-4b26-ba2d-c41892bc439e",
      "name": "Download Image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZsEf29K8HfuXNsa4",
          "name": "Google Drive GB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -32,
        160
      ],
      "id": "75e5f276-440d-4e2a-8f59-d2e26bdf1703",
      "name": "Extract to Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nonrealxr-evolution.hgrxjp.easypanel.host/message/sendMedia/NonRealXR",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "95256DD415C3-487D-BA89-7781B4152F9D"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.numero }}"
            },
            {
              "name": "mediatype",
              "value": "image"
            },
            {
              "name": "media",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        160
      ],
      "id": "295c6eca-34b1-49fa-9d86-a91639b0f63e",
      "name": "Send Image WhatsApp",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        160
      ],
      "id": "0de9f470-f6b8-49d2-bc03-15ea3f66ccb6",
      "name": "Wait 2 Seconds",
      "webhookId": "f6609f27-5615-4b15-a684-ef067822a66f"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files?q='{{ $json.folderId }}' in parents and mimeType contains 'image/'&fields=files(id,name,mimeType)&pageSize=5",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -640,
        16
      ],
      "id": "9de93997-dbc4-471f-9f7d-6bb62be0e1f9",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZsEf29K8HfuXNsa4",
          "name": "Google Drive GB account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-19T22:47:12.946Z",
      "createdAt": "2025-11-19T22:47:12.946Z",
      "role": "workflow:owner",
      "workflowId": "2K2cjhpRMSAKa7Xu",
      "projectId": "epI1cymQzCzDlQMH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-19T22:36:45.524Z",
      "createdAt": "2025-11-19T22:36:45.524Z",
      "id": "oOBV7K2KRexZs41J",
      "name": "游 Rubin Autom. AI"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-20T11:41:42.000Z",
  "versionId": "8b3ca306-02a4-403a-8f18-25aad87d7c7f"
}