workflows/Inmobiliaria Principal.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Mandar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio": {
      "main": [
        [
          {
            "node": "Convertir Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir Audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Audio Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Content": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Content1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Convertir Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir Imagen": {
      "main": [
        [
          {
            "node": "Describe imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe imagen": {
      "main": [
        [
          {
            "node": "Audio Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizacion": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Normalizacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "IMAGENES": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DB Propiedades": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AGENTES": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AGENDAR": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SHEETS AGENDAR": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UBICACION": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-19T22:36:53.044Z",
  "id": "9hwC6vf5NerSDtcV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Inmobiliaria Principal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-ia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        48
      ],
      "id": "0eddfaa6-b7b4-4fda-a1b7-48730c353a7c",
      "name": "Webhook",
      "webhookId": "e33ef0d2-b6d9-483d-a180-2f45d20b3db1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chat_input }}",
        "options": {
          "systemMessage": "=Día y hora actual: {{ $now }}\n\nEres un asistente inmobiliario en WhatsApp. Tu tarea es responder a leads interesados en propiedades y gestionar visitas usando exclusivamente las herramientas definidas.\n\nHerramientas disponibles\n\ndb.propiedades\nUso: buscar información de propiedades en la base de datos.\nCampos: ID, Tipo, Zona, Recámaras, Baños, Metros², Precio, Amenidades, URL, Imágenes, Ubicación (maps_url).\nImportante: esta herramienta es la única fuente válida de IDs y de la ubicación. Nunca inventes ni adivines valores.\n\nimagenes\nUso: enviar fotos de una propiedad.\nRegla: cuando uses la herramienta imagenes, no devuelvas texto ni links en el reply; el flujo de la herramienta se encarga de enviar las fotos.\n\nAGENTES (Google Sheets)\nUso: verificar y decidir qué agente asignar.\nValidaciones:\n\nSolo elegir agentes con activo=TRUE.\n\nRevisar si el día y hora solicitados por el cliente caen dentro de sus dias_disponibilidad y horario_disponible.\n\nRound-robin: asignar al que tenga ultimo_asignado=FALSE. Si ambos coinciden, asignar al que no fue el último.\n\nAGENDAR (Google Calendar)\nUso: crear la cita en el calendario del agente elegido.\nInput: { agentId, calendarId, propertyId, lead:{nombre, telefono}, start, end }\nOutput: { eventId, status }\n\ncitas_agendadas (Google Sheets)\nUso: registrar y actualizar todas las citas.\nCampos obligatorios al registrar o modificar:\n\neventId (ID real de Google Calendar, nunca inventado)\n\npropertyId (de db.propiedades)\n\nagentId / agentName\n\ncliente_nombre\n\ncliente_telefono\n\nfecha, hora (start/end)\n\nstatus → \"agendado\" o \"eliminado\" (escrito exactamente así, sin variaciones).\n\nReglas de interacción\n\nPropiedades\n\nSi el usuario menciona un ID o zona, llama a db.propiedades y devuelve ficha con tipo, zona, precio, recámaras, baños, metros², amenidades, link y ubicación.\n\nSi el usuario da filtros (presupuesto, recámaras mínimas, zona, amenidades), llama a db.propiedades con esos filtros. Devuelve 2–3 propiedades en lista con bullets y links. Si no hay match exacto, ofrece alternativas.\n\nFotos\n\nSi el usuario pide fotos, llama imagenes con el propertyId.\n\nNo agregues texto al reply; deja que la herramienta envíe las imágenes.\n\nUbicación\n\nSi el usuario pide dirección, ubicación, “dónde queda” o “mándame la ubicación”:\n\nUsa siempre el campo ubicacion de la propiedad en db.propiedades.\n\nDevuelve directamente el maps_url.\n\nNunca inventes ubicaciones ni direcciones.\n\nAgendar citas\n\nDespués de mostrar propiedades, invita:\n“¿Quieres que agendemos una visita? ¿Qué día y horario te acomoda en los próximos días?”\n\nAntes de intentar agendar, asegúrate de tener nombre y número del cliente.\n\nSi no los tienes, pregunta:\n\n“Perfecto, antes de confirmar la cita ¿me compartes tu nombre completo y número de celular?”\n\nCuando el cliente dé nombre y número → guardar en memoria lead.nombre y lead.telefono.\n\nEl cliente da un día/hora o rango → llamar AGENTES para validar disponibilidad.\n\nSi hay agente disponible → asignar con round-robin.\n\nLlamar AGENDAR con el calendarId del agente y los datos del lead.\n\nAGENDAR devuelve eventId. Ese eventId es el ID oficial de la cita.\n\nRegistrar en citas_agendadas con:\n\neventId\n\npropertyId (de db.propiedades)\n\nagentId, agentName\n\ncliente_nombre, cliente_telefono\n\nfecha/hora (start, end)\n\nstatus = \"agendado\"\n\nResponder al cliente:\n“Perfecto, tu visita quedó confirmada para {fecha} a las {hora} con {Agente}. Si necesitas cancelar o reprogramar, avísame por este medio.”\n\nCancelar citas\n\nSi el cliente pide cancelar:\n\nIdentificar la cita por su eventId (o datos que permitan buscarla en citas_agendadas).\n\nActualizar en citas_agendadas el status a \"eliminado\".\n\nConfirmar al cliente:\n“Tu cita con {Agente} para {fecha} a las {hora} fue cancelada. Si deseas, podemos reprogramar otra fecha.”\n\nEjemplo conversacional\n\nUsuario: “Quiero agendar para el jueves a las 12.”\nAsistente: “Con gusto. Antes de confirmar, ¿me compartes tu nombre completo y tu número de celular?”\n\nUsuario: “Soy Juan Pérez, mi número es 5544332211.”\nAsistente: Llama db.propiedades con filtros → obtiene propertyId=P010 y su ubicación.\nLlama AGENTES (jueves 12:00) → asigna agente.\nLuego llama AGENDAR con calendarId y lead.\nAGENDAR devuelve eventId=abc123.\nLuego registra en citas_agendadas con status=\"agendado\".\nAsistente: “Perfecto Juan, tu visita quedó confirmada para jueves 12:00 con Héctor. Si necesitas cancelar o reprogramar, avísame por este medio.”\n\nUsuario: “Mejor cancela mi cita.”\nAsistente: Busca eventId=abc123 en citas_agendadas y actualiza status=\"eliminado\".\nAsistente: “Tu cita con Héctor para jueves 12:00 fue cancelada. Si quieres, puedo proponerte otra fecha.”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1328,
        16
      ],
      "id": "690d73ec-2285-45c6-b71f-f6532007834c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1248,
        240
      ],
      "id": "074888e0-85f7-4883-a6ad-d0ed2cadc36c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aKfvNfQbjB1WCvlS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_content_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6571be58-7ae0-4b3a-9c4d-706d062d2428"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "98a252f3-df54-41c8-8d0f-705fee6eec87",
                    "leftValue": "={{ $json.message_content_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ebf44caf-794d-434c-be9b-88adfc2d34a0",
                    "leftValue": "={{ $json.message_content_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Otro"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -112,
        16
      ],
      "id": "3fb456b8-f107-4064-ba9e-566e2aa98753",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalizacion').item.json.instance_server_url }}/chat/getBase64FromMediaMessage/{{ $('Normalizacion').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Normalizacion').item.json.instance_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('Normalizacion').item.json.message_id }}"
            },
            {
              "name": "convertToMp4",
              "value": "={{ Boolean(false) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -176
      ],
      "id": "02e55d6f-7695-404f-a759-48cfafd8147c",
      "name": "Get Audio"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        400,
        -176
      ],
      "id": "b358bcb0-d71c-4ecf-bb86-fab1315e8086",
      "name": "Convertir Audio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        592,
        -176
      ],
      "id": "bc119824-32ca-46b7-a17d-79df522a381d",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "aKfvNfQbjB1WCvlS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e2644e1-fe2b-4523-b3bc-3db62622315c",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -176
      ],
      "id": "57fa6322-6569-496f-8257-56ea9f285eaa",
      "name": "Audio Content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e2644e1-fe2b-4523-b3bc-3db62622315c",
              "name": "content",
              "value": "=<imagen>\n{{ $json.content}}\n</imagen>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        16
      ],
      "id": "de6bfbc4-ef00-4df3-87e6-d2bf7ecfb2dc",
      "name": "Audio Content1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalizacion').item.json.instance_server_url }}/chat/getBase64FromMediaMessage/{{ $('Normalizacion').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Normalizacion').item.json.instance_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('Normalizacion').item.json.message_id }}"
            },
            {
              "name": "convertToMp4",
              "value": "={{ Boolean(false) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        16
      ],
      "id": "d732102f-5abf-4372-990e-6e98a6a44d43",
      "name": "Get Image"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        400,
        16
      ],
      "id": "e23ddfbc-e2af-480f-89fe-4de17bd780db",
      "name": "Convertir Imagen"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Describe la imagen",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        592,
        16
      ],
      "id": "1b15a48f-935f-49cd-9e57-c8cde6c7d2ac",
      "name": "Describe imagen",
      "credentials": {
        "openAiApi": {
          "id": "aKfvNfQbjB1WCvlS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6070e65d-c2d1-475e-af7c-c8ff0a5b059a",
              "name": "content",
              "value": "={{ $json.message_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        192
      ],
      "id": "802421ad-9ff1-40ec-b4df-b33113ef888f",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d56cc938-d653-4611-96fd-86d5eb56bf9c",
              "name": "chat_input",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        16
      ],
      "id": "5a42a354-a677-41cf-8b00-84d0fee473fc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9419665-41fc-43b9-aef7-d521a1ba2035",
              "name": "instance_server_url",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "c3cb8673-8006-4079-a304-c58ffc267226",
              "name": "instance_name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "e462da04-7f8b-4fbe-aacd-7956666c2ede",
              "name": "instance_apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "b06da722-eea2-4f28-a2d4-7bcc6592b952",
              "name": "message_id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "5ecbe629-f4d0-4bdf-8c78-903f311bc273",
              "name": "message_chat_id_sender",
              "value": "={{ $json.body.sender }}",
              "type": "string"
            },
            {
              "id": "cbb05e7c-4912-4965-bcf4-cefd9418b39f",
              "name": "message_content_type",
              "value": "={{ $json.body.data.message.extendedTextMessage ? 'text': '' }}{{ $json.body.data.message.conversation ? 'text': '' }}{{ $json.body.data.message.audioMessage ? 'audio': '' }}{{ $json.body.data.message.imageMessage ? 'image': '' }}",
              "type": "string"
            },
            {
              "id": "d6fa8877-dee6-468b-a51e-8fdc36dc190f",
              "name": "message_content",
              "value": "={{ $json.body.data.message.extendedTextMessage?.text || '' }} {{ $json.body.data.message.imageMessage?.caption || '' }} {{ $json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "f122b51f-8a93-439e-85fb-c370e7f4f6b8",
              "name": "message_timestamp",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "e10a7e61-cffe-44fb-9b13-e0c199ebd866",
              "name": "user_name",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "1c280646-7eb8-4118-9e8d-432f04a763b7",
              "name": "user_number",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        48
      ],
      "id": "a59dcb9e-dcf0-4423-ae7d-f980c144d0cf",
      "name": "Normalizacion"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalizacion').item.json.instance_server_url }}/message/sendText/{{ $('Normalizacion').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Normalizacion').item.json.instance_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Normalizacion').item.json.user_number }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "delay",
              "value": "={{ 1000 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        16
      ],
      "id": "f1c52506-b323-4034-8f55-a3dcc5780b3b",
      "name": "Mandar mensaje"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -576,
        48
      ],
      "id": "f0d61145-cf2e-462e-a308-a1643fdecd69",
      "name": "Wait",
      "webhookId": "8e6f6347-f927-4a51-81ea-f656b1c4be4d"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Normalizacion').item.json.user_number }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1408,
        368
      ],
      "id": "add96217-a169-4be4-b532-fedccb788ca2",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9iRvr6cD7drCbVTk",
          "name": "Postgres Supabase Credentials"
        }
      }
    },
    {
      "parameters": {
        "description": "=Nombre: fotos\nDescripción: Manda fotos de la propiedad al usuario\n\nCómo activarla:\n- Si el usuario pide fotos o imágenes de un inmueble, llama a esta herramienta.\n- Usa el `Id` si está disponible (ej. \"P012\").\n- Si no se menciona ID, usa filtros de búsqueda (zona, presupuesto, recámaras) para elegir el inmueble más probable.\n",
        "workflowId": {
          "__rl": true,
          "value": "GpNUjrsuTbqWVrRe",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', `El ID, de la propiedad la cual el usuario quiere obtener imágenes`, 'string') }}",
            "numero": "={{ $('Normalizacion').item.json.user_number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1584,
        384
      ],
      "id": "00cb0f9a-613a-428c-a41e-2c54b2bc6bf9",
      "name": "IMAGENES"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1V3My7VgGiwj0Hl2MvmQkw3PLrEOrHqOYQqK-px231KY/edit?gid=123187836#gid=123187836",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 123187836,
          "mode": "list",
          "cachedResultName": "Ejemplo_de_50_propiedades_inmobiliarias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V3My7VgGiwj0Hl2MvmQkw3PLrEOrHqOYQqK-px231KY/edit#gid=123187836"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1776,
        352
      ],
      "id": "a11b56f1-5b7b-4482-b649-feed4f5e200f",
      "name": "DB Propiedades",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utiliza esta herramienta para acceder a la db de los agentes de la inmobiliaria",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/13YhkYoqpGaGRWRkDHHT1XS83hk8zMtlGnVNzUiWnxO0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13YhkYoqpGaGRWRkDHHT1XS83hk8zMtlGnVNzUiWnxO0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1488,
        576
      ],
      "id": "a32c0c1d-863d-47cb-bc46-6db289be7217",
      "name": "AGENTES",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utiiza esta herramienta para agendar las citas",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1232,
        480
      ],
      "id": "3a1f90ba-2ef5-41b9-b111-09120268acd5",
      "name": "AGENDAR",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QM6it0rPeasJ1pJO",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1v8Zc9py-6-9z2JzOzKxlU2d-HMc77QXbnNDJLP578Ss/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v8Zc9py-6-9z2JzOzKxlU2d-HMc77QXbnNDJLP578Ss/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_CITA ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID_CITA_', `Utiliza el mismo id del id de google calendar al agendar la cita`, 'string') }}",
            "Nombre_Cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_Cliente', `Nombre del cliente que hace la cita`, 'string') }}",
            "Numero_Cliente ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Numero_Cliente_', `Utiliza el número celular del cliente que hace la cita`, 'string') }}",
            "ID_Propiedad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID_Propiedad', `Utiliza y busca en \"db_propiedades\" el id de la propiedad`, 'string') }}",
            "Nombre_Propiedad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_Propiedad', ``, 'string') }}",
            "Nombre_Ejecutivo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_Ejecutivo', ``, 'string') }}",
            "ID_ejecutivo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID_ejecutivo', `Busca en \"agentes\" para encontrar el id del agente`, 'string') }}",
            "Horario y Día ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Horario_y_D_a_', `Agenda el día y hora de la cita en formato dd-mm-aa`, 'string') }}",
            "Estatus": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estatus', `Estatus de la cita, solamente las 2 opcioens escrito de la siguiente manera: \n\"agendado\" o \"eliminado\"`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID_CITA ",
              "displayName": "ID_CITA ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre_Cliente",
              "displayName": "Nombre_Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Numero_Cliente ",
              "displayName": "Numero_Cliente ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID_Propiedad",
              "displayName": "ID_Propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre_Propiedad",
              "displayName": "Nombre_Propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre_Ejecutivo",
              "displayName": "Nombre_Ejecutivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID_ejecutivo",
              "displayName": "ID_ejecutivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Horario y Día ",
              "displayName": "Horario y Día ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estatus",
              "displayName": "Estatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1712,
        576
      ],
      "id": "14f4def1-bddc-489b-8605-dd426928e002",
      "name": "SHEETS AGENDAR",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UgE1zX4Tu6qFLtP2",
          "name": "Google Sheets GB account"
        }
      }
    },
    {
      "parameters": {
        "description": "Utiliza esta herramienta cuando tengas que mandar la ubicacion de la propiedad al usuario",
        "workflowId": {
          "__rl": true,
          "value": "vIyDWKEmEFsErT9M",
          "mode": "list",
          "cachedResultName": "Inmobiliaria / Ubicacion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_propiedad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_propiedad', `Manda el id de la propiedad`, 'number') }}"
          },
          "matchingColumns": [
            "id_propiedad"
          ],
          "schema": [
            {
              "id": "id_propiedad",
              "displayName": "id_propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1040,
        400
      ],
      "id": "05c12e41-ca67-4170-a0de-6b629e4c4a99",
      "name": "UBICACION"
    },
    {
      "parameters": {
        "content": "## Automatización para Inmobiliarias\n# [Guide](https://www.skool.com/rubin-automatizaciones-ia-n8n-9701/robame-esta-automatizacion-para-inmobiliarias-3000usd-n8n-paso-a-paso)\n\nhttps://youtu.be/tULVMrIvWSg",
        "height": 176,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        -336
      ],
      "typeVersion": 1,
      "id": "1f449b27-3b01-411b-adcc-b3e1f0120529",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "servidor.techrubin.com",
            "user-agent": "axios/1.7.9",
            "content-length": "965",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "servidor.techrubin.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "160e8b7bc846",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "chatbotia",
            "data": {
              "key": {
                "remoteJid": "5215640036624@s.whatsapp.net",
                "fromMe": false,
                "id": "3A3525340FFFD7AFF651"
              },
              "pushName": "Héctor Rubín",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "me gustaría que me dieras informes de alguna casa en chapalita",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "qAbo98Hn17Ls4Q==",
                    "senderTimestamp": "1755623518",
                    "recipientKeyHash": "AZhiixERCFFUQQ==",
                    "recipientTimestamp": "1755809919"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "pENMmy30Jx1Mmgt4SZAwshMCf9F7v+J96sxYF1hKnIo="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1757023879,
              "instanceId": "e9c0cf83-b935-4477-bc0e-a278b468dc97",
              "source": "ios"
            },
            "destination": "https://servidor.techrubin.com/webhook/chatbot-ia",
            "date_time": "2025-09-04T19:11:19.617Z",
            "sender": "5215522194289@s.whatsapp.net",
            "server_url": "https://makewhatsapp-evolution-api.1takfl.easypanel.host",
            "apikey": "8737652B1052-4BC5-ADC1-4EDC46B8B60A"
          },
          "webhookUrl": "https://servidor.techrubin.com/webhook/chatbot-ia",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-19T22:36:53.048Z",
      "createdAt": "2025-11-19T22:36:53.048Z",
      "role": "workflow:owner",
      "workflowId": "9hwC6vf5NerSDtcV",
      "projectId": "epI1cymQzCzDlQMH"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-19T22:36:45.524Z",
      "createdAt": "2025-11-19T22:36:45.524Z",
      "id": "oOBV7K2KRexZs41J",
      "name": "🟠 Rubin Autom. AI"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-19T23:18:30.000Z",
  "versionId": "15f7df2a-ba7b-4ce4-8dcd-094451d5916c"
}