workflows/Quejas.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Datos_Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos_Doc": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Atencion Cliente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Atencion Cliente",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Agente Atencion Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Atencion Cliente": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-07T04:13:02.716Z",
  "id": "OBQFWqUfg5Vvdvib",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Quejas",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1GnAgiSQ7rJVWNS3O1yeGPJrngVBI3uOR",
          "mode": "list",
          "cachedResultName": "DOCUMENTS",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GnAgiSQ7rJVWNS3O1yeGPJrngVBI3uOR"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        112
      ],
      "id": "fd30c3f3-405a-4c09-a9f5-b2f73997a87f",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZsEf29K8HfuXNsa4",
          "name": "Google Drive GB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1e494fc-51de-449f-87c2-c65037188ae3",
              "name": "Doc_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "ca9f0e05-c9d1-4bf8-86df-4f3d0e0a41a4",
              "name": "Doc_Type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "42c793c8-67da-4be1-9678-5562b1699844",
              "name": "Doc_name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        112
      ],
      "id": "b961faf5-ec49-4578-b6e4-91677ecfd1d5",
      "name": "Datos_Doc"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "f3ac0882-d0b4-4c99-b0e2-779e7bfc38d8",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        288
      ],
      "id": "4f0f82f7-b9fe-4e02-8e3c-948e00613b7f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aKfvNfQbjB1WCvlS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "33"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        464,
        288
      ],
      "id": "9fd20c24-a556-4c20-85c5-b088c7c374d9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.Doc_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -304,
        112
      ],
      "id": "84fafcf2-7aea-4428-9d28-ff84241241fb",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZsEf29K8HfuXNsa4",
          "name": "Google Drive GB account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cc242c89-dbdc-464d-a771-fad69d108730",
                    "leftValue": "={{ $('Datos_Doc').item.json.Doc_Type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3845e978-3168-4b3d-9d0e-5581e584693d",
                    "leftValue": "={{ $('Datos_Doc').item.json.Doc_Type }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "txt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -160,
        112
      ],
      "id": "178b7c2f-2654-4a32-9b3d-27db6c8414a2",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "278f10f1-aa17-4626-8069-ceab8e8fd392",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9f73a68-7609-4698-8aa1-a0ce04e196b3",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        112
      ],
      "id": "e41ee0ab-3f5d-44b6-a845-4967810a7a5c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        112
      ],
      "id": "cde647d1-a36d-4540-ba5c-d91cdfeb59a6",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "N4NljCNS08j9yTVt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Eres un agente de atención al cliente y eres el encargado de dar respuesta a las quejas/dudas de los clientes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        352,
        112
      ],
      "id": "5841067f-7f9b-411d-9d00-e14f8bed4bbf",
      "name": "Agente Atencion Cliente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1dcd7fe-c624-4301-9fe3-6e954e9b3e56",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        112
      ],
      "id": "132ce3a5-a6eb-4966-a163-8da3d8f07769",
      "name": "Respuesta"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-07T04:13:02.724Z",
      "createdAt": "2025-11-07T04:13:02.724Z",
      "role": "workflow:owner",
      "workflowId": "OBQFWqUfg5Vvdvib",
      "projectId": "epI1cymQzCzDlQMH"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-07T04:24:55.000Z",
  "versionId": "ffcb9ae1-75f6-437c-aaca-ba83585bfcd8"
}