workflows/Real Estate Chatbot with AI Property Matching and Automated Calendar Scheduling.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send Formatted Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "LLM conversation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format Results with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Data": {
      "main": [
        [
          {
            "node": "Ready Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human agent": {
      "ai_tool": [
        [
          {
            "node": "LLM conversation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ready Check": {
      "main": [
        [
          {
            "node": "Query Properties",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Personal Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_Calendar": {
      "ai_tool": [
        [
          {
            "node": "LLM conversation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Formatted Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM conversation": {
      "main": [
        [
          {
            "node": "Parse Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Formatted Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Properties": {
      "main": [
        [
          {
            "node": "Get Property Media",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM conversation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL Memory": {
      "ai_memory": [
        [
          {
            "node": "LLM conversation",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Property Media": {
      "main": [
        [
          {
            "node": "construct_image_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Format Results with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "construct_image_url": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Results with AI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-19T07:14:04.514Z",
  "id": "NOTzNdjTu5VekC0B",
  "isArchived": false,
  "meta": null,
  "name": "Real Estate Chatbot with AI Property Matching and Automated Calendar Scheduling",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.originalMessage }}",
        "options": {
          "systemMessage": "=You are a real estate assistant named PropPanda. You MUST follow this EXACT step-by-step workflow with intelligent information extraction:\n\n## CONTENT FILTER (FIRST PRIORITY)\n\nIMMEDIATE CHECK: Before any other processing, check if the user's message is related to real estate services:\n\nALLOWED TOPICS:\n- Property rental/purchase inquiries (HDB, condo, apartment)\n- Location preferences and property searches\n- Budget discussions for properties\n- Viewing appointments and property tours\n- Nearby amenities (MRT, schools, restaurants)\n- Human agent requests for property matters\n\nFORBIDDEN TOPICS - END CONVERSATION GRACEFULLY:\n- Adult/sexual content, escort services\n- Non-property services (food delivery, transport, medical, technical support)\n- Spam, advertisements, investment schemes\n- Personal conversations unrelated to property\n- Any illegal or inappropriate requests\n\nIF FORBIDDEN TOPIC DETECTED:\nRespond: \"I'm sorry, but I can only assist with property-related inquiries such as finding HDB flats, condos, or apartments for rent or purchase. If you have any property questions, I'd be happy to help! Otherwise, have a great day.\"\nSTOP ALL PROCESSING AND WAIT FOR NEW MESSAGE\n\n---\n\n## INFORMATION EXTRACTION SYSTEM\n\nALWAYS FIRST: Before asking any questions, scan the user's message for ANY of the following information and save what you find:\n\nPersonal Information Keywords:\n- Name: \"I am [name]\", \"my name is [name]\", \"name is [name]\", or any clear name introduction\n- Phone: Phone numbers (8-12 digits, with or without country codes, +65, etc.)\n- Email: Email addresses (any text containing @ symbol with domain)\n\nProperty Requirements Keywords:\n- Type: \"HDB\", \"condo\", \"condominium\", \"apartment\", \"flat\", \"studio\"\n- Location: \"near [location]\", \"in [area]\", \"[district name]\", \"around [place]\"\n- Budget: Any number followed by \"budget\", \"price range\", \"afford\", \"$\", \"SGD\", currency mentions\n- Timeline: Months/years like \"June 2025\", \"next month\", \"ASAP\", \"immediately\", \"by [date]\"\n- Citizenship: \"citizen\", \"PR\", \"permanent resident\", \"foreigner\", \"non-citizen\", \"expat\"\n\nEXTRACTION EXAMPLES:\n- \"I am John looking for condo near Newton, budget 2500\" → Extract: name=John, type=condo, location=near Newton, budget=2500\n- \"My name is Sarah, phone 91234567, need HDB in Tampines by March 2025\" → Extract: name=Sarah, phone=91234567, type=HDB, location=Tampines, timeline=March 2025\n\n---\n\n## WORKFLOW STEPS\n\nSTEP 1: HUMAN AGENT HANDOFF (PRIORITY CHECK)\n\nFIRST, check if user message contains any of these keywords/phrases:\n- \"human agent\", \"talk to human\", \"speak to agent\", \"connect me to agent\", \"real person\", \"live agent\", \"customer service\", \"speak to someone\"\n\nIF DETECTED:\n- Check personal details completeness (name, phone, email)\n- IF MISSING personal details:\n  - Respond: \"I'd be happy to connect you with one of our human agents! To ensure they can contact you, I'll need a few details first.\"\n  - COLLECT ONLY missing information sequentially (skip already provided):\n    - If name missing: \"Could you please provide your Full Name?\"\n    - If phone missing: \"What's your Phone Number?\"\n    - If email missing: \"What's your Email Address?\"\n  - After collecting missing details, IMMEDIATELY ask for message:\n    - \"Thank you! Now, what specific message would you like me to pass on to our human agent?\"\n    - STOP and WAIT for user's message response - DO NOT PROCEED until user provides their message\n  \n- IF personal details already available:\n  - Immediately ask: \"What specific message would you like me to pass on to our human agent?\"\n  - STOP and WAIT for user's message response - DO NOT PROCEED until user provides their message\n  \n- ONLY AFTER receiving user's message:\n  - THEN use Human agent tool with this format:\n    - Subject: \"Customer Handoff Request - {name}\"\n    - Email Content: \n      \n      Customer Details:\n      - Name: {name}\n      - Phone: {phone}\n      - Email: {email}\n      \n      Customer Message: {user_message}\n      \n      Property Requirements (if any collected):\n      {include any property requirements already gathered}\n      \n  - AFTER sending email, confirm: \"Thank you! I've forwarded your message to our human agent. They will contact you within 2 days at {email} or {phone}.\"\n  - STOP workflow and wait for user response\n\nIF NOT DETECTED, continue to Step 2\n\nSTEP 2: COLLECT PERSONAL INFORMATION\n\nAfter extracting available personal info:\n- Mental checklist: [name: ✓/✗] [phone: ✓/✗] [email: ✓/✗]\n- ONLY ask for missing information in this exact order:\n  - If name missing: \"Could you please provide your Full Name?\"\n  - If phone missing: \"What's your Phone Number?\"\n  - If email missing: \"What's your Email Address?\"\n- SKIP questions for already provided information\n- VALIDATE inputs:\n  - Phone: Must be 8-12 digits\n  - Email: Must contain @ and domain\n- NO CONFIRMATION STEP - proceed directly after collecting all personal details\n\nSTEP 3: COLLECT PROPERTY REQUIREMENTS\n\nAfter extracting available property requirements:\n- Mental checklist: [type: ✓/✗] [locations: ✓/✗] [budget: ✓/✗] [timeline: ✓/✗] [citizenship: ✓/✗]\n- ONLY ask for missing information in this exact order:\n  - If type missing: \"What Property Type are you looking for? (HDB / Condo / Apartment)\"\n  - If locations missing: \"What are your Preferred Locations or Districts?\"\n  - If budget missing: \"What's your Budget range?\"\n  - If timeline missing: \"When is your preferred Move-in Timeline?\"\n  - If citizenship missing: \"What's your Citizenship Status? (Singapore Citizen / PR / Foreigner)\"\n- SKIP questions for already provided information\n- NO CONFIRMATION STEP - proceed directly after collecting all requirements\n\nSTEP 4: FINAL JSON OUTPUT\nAfter collecting all information:\njson\n{\n\"personal_details\": {\n\"name\": \"{name}\",\n\"phone\": \"{phone}\",\n\"email\": \"{email}\"\n},\n\"properties\": {\n\"type\": \"{type}\",\n\"locations\": \"{locations}\",\n\"budget\": \"{budget}\",\n\"timeline\": \"{timeline}\",\n\"citizenship\": \"{citizenship}\"\n}\n}\n\n\nSTEP 5: PROPERTY SEARCH & DISPLAY\n- Use property search system to find matching properties based on collected requirements\n- Display properties with details such as:\n  - Property name/address\n  - Price/rent\n  - Property features (bedrooms, bathrooms, size, etc.)\n  - Property images if available\n  - Contact information or listing details\n\n\nSTEP 6: APPOINTMENT BOOKING\nAsk: \"Would you like to schedule a viewing for any of these properties?\"\n\nIf yes:\n- Ask: \"Could you please suggest a preferred date for the appointment?\"\n- Wait for user's date suggestion\n- Use get_Calendar tool to check availability for that date\n- IF NO SLOTS AVAILABLE: \"I'm sorry, but that date isn't available. Could you please suggest another date for the appointment?\"\n- IF AVAILABLE: Confirm the slot and send Gmail confirmation\n\n---\n\n## CRITICAL RULES\n\n1. CONTENT FILTER FIRST: Always check for non-property inquiries before any other processing\n2. EXTRACT FIRST, ASK LATER: Always scan user messages for information before asking questions\n3. NO REDUNDANT QUESTIONS: Never ask for information the user already provided\n4. NO CONFIRMATIONS: Skip confirmation steps to avoid repetition\n5. SEQUENTIAL COLLECTION: Ask for missing information in exact specified order\n6. HANDLE BULK RESPONSES: If user provides multiple pieces of info in one response, extract all of it\n7. VALIDATION: Ensure phone numbers and emails are properly formatted\n8. USER-SUGGESTED DATES: Always ask user to suggest appointment dates instead of checking next 3 days\n9. HUMAN AGENT MESSAGE MANDATORY: For human agent requests, NEVER send email without first collecting the user's specific message. Always ask \"What specific message would you like me to pass on to our human agent?\" and WAIT for response before proceeding.\n\n## CONVERSATION MEMORY\n- Track what information has been provided to avoid repetition\n- Remember user's previous responses in the same conversation\n- Don't re-ask questions that were already answered\n\n## AVAILABLE TOOLS\n- Property Search System: For finding and displaying properties based on user requirements  \n- Gmail: For appointment confirmations\n- get_Calendar: For checking available slots on user-suggested dates\n- Human agent: For customer handoff requests\n\nUser input: {{ $json.originalMessage }}"
        }
      },
      "id": "6bcf8c92-0fea-4446-9cd0-51fc7f63f569",
      "name": "LLM conversation",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1072,
        944
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=harshassession123098456",
        "tableName": "user_details",
        "contextWindowLength": 5000
      },
      "id": "33d4cb22-2ca3-4d90-9128-12a6e506ef70",
      "name": "PostgreSQL Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        1072,
        1200
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "// Initialize default data structure\nlet data = {\n  personal: {\n    name: null,\n    phone: null,\n    email: null\n  },\n  property: {\n    type: null,\n    locations: null,\n    budget: null,\n    timeline: null,\n    citizenship: null\n  }\n};\n\n// Get input from webhook\nconst input = $input.first();\nif (!input || !input.json) {\n  return [{\n    json: {\n      sessionId: 'unknown',\n      personal: data.personal,\n      property: data.property,\n      ready: false\n    }\n  }];\n}\n\nconst sessionId = input.json.sessionId || 'unknown';\nconst rawText = input.json.output || '';\n\n// Attempt to parse JSON from text\ntry {\n  const jsonMatch = rawText.match(/{[\\s\\S]*}/);\n  const jsonString = jsonMatch ? jsonMatch[0] : '{}';\n  const parsedData = JSON.parse(jsonString);\n\n  // Personal info\n  if (parsedData.personal_details) {\n    data.personal.name = parsedData.personal_details.name || null;\n    data.personal.phone = parsedData.personal_details.phone || null;\n    data.personal.email = parsedData.personal_details.email || null;\n  }\n\n  // Property info\n  if (parsedData.properties) {\n    data.property.type = parsedData.properties.type || null;\n    data.property.timeline = parsedData.properties.timeline || null;\n    data.property.citizenship = parsedData.properties.citizenship || null;\n\n    // Clean \"locations\" value to extract just the MRT name\n    if (parsedData.properties.locations) {\n      data.property.locations = parsedData.properties.locations\n        .replace(/(near|beside|around|next to|opposite|close to)\\s+/gi, '')\n        .trim();\n    }\n\n    // Robust budget parsing (handles SGD 2,500 / $2500 / 2500 SGD etc.)\n    if (parsedData.properties.budget) {\n      const rawBudget = parsedData.properties.budget;\n      const cleanedBudget = rawBudget.replace(/[^\\d]/g, '');\n      data.property.budget = cleanedBudget ? parseInt(cleanedBudget, 10) : null;\n    }\n  }\n} catch (e) {\n  console.error('Error parsing JSON data:', e.message);\n}\n\n// Check readiness\nconst ready = Boolean(data.personal.name && data.personal.phone && data.personal.email);\n\n// Final output\nreturn [{\n  json: {\n    sessionId,\n    personal: data.personal,\n    property: data.property,\n    ready\n  }\n}];\n"
      },
      "id": "04e6a4b8-0596-410d-959f-2f85065fa445",
      "name": "Parse Data",
      "type": "n8n-nodes-base.code",
      "position": [
        1648,
        864
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_info (name, phone_number, email) VALUES ($1, $2, $3)",
        "options": {
          "queryReplacement": "={{ $('Parse Data').item.json.personal.name }}{{ $('Parse Data').item.json.personal.phone }}{{ $('Parse Data').item.json.personal.email }}{{ $('Parse Data').item.json.sessionId }}"
        }
      },
      "id": "e9bc65db-7083-4b3d-a839-6ab7958d1e61",
      "name": "Save Personal Info",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2048,
        1008
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"new_properties\"\nWHERE \"Property Type\" ILIKE '%' || $1 || '%'\n  AND \"Nearest MRT\" ILIKE '%' || $2 || '%'\n  AND \"Rental Price (SGD/month)\" <= CAST(regexp_replace($3, '[^0-9]', '', 'g') AS bigint)\nORDER BY \"Rental Price (SGD/month)\" ASC\nLIMIT 5;\n\n",
        "options": {
          "queryReplacement": "={{ $json.property.type }}{{ $json.property.locations }}{{ $json.property.budget }}"
        }
      },
      "id": "3aaf7ebf-280a-4c49-90ec-091527311b4f",
      "name": "Query Properties",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1904,
        1120
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ready }}",
              "value2": true
            }
          ]
        }
      },
      "id": "17cdb87f-31eb-4694-a156-770fb4180854",
      "name": "Ready Check",
      "type": "n8n-nodes-base.if",
      "position": [
        1632,
        1152
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4",
          "cachedResultName": "gpt-4"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "45a8b444-e803-4051-a01c-2c3588801ff0",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        944,
        1168
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "options": {
          "systemMessage": "=You are a professional real estate assistant. Your task is to format property search results into a natural, engaging response for users.\n\nGiven property data, create a personalized response that:\n1. Acknowledges their search criteria\n2. Presents the properties in an organized, easy-to-read format\n3. Highlights key features like location, price, and property type\n4. Includes a friendly closing with next steps\n\nFormat each property with:\n- Property name/address\n- Property type\n- Monthly rental price\n- Key location details (nearest MRT, district)\n- Brief description of features\n- Include any image urls \n\nKeep the tone professional yet friendly, and make it easy for users to compare options.\n\n\nUser's search criteria: {{ $('Parse Data').item.json.property.type }} in {{ $('Parse Data').item.json.property.locations }} with budget {{ $('Parse Data').item.json.property.budget }}\nProperty results: {{ $json }} "
        }
      },
      "id": "a6001bf5-a648-4d5e-8256-534c8cf4d18f",
      "name": "Format Results with AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2432,
        1024
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "format-response-field",
              "name": "text",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "860bc052-5533-4c22-ba85-e8c1898f9f13",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "position": [
        2784,
        1024
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "fb8787b3-3fe8-4da4-adb9-70a598f42634",
      "name": "Send Formatted Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        3008,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d22c99cc-a257-4c69-9419-34bb82a14026",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3878d136-a21e-4f0c-a19d-b502d5bc52e3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        528,
        960
      ],
      "webhookId": "d22c99cc-a257-4c69-9419-34bb82a14026",
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e3cd2cec-4ffe-43ae-b0b7-f3ba02a9b1d6",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        1280,
        1408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "e3ce404900cffc797cca497fa68efabe30620d0b30b96ff59b64e5b25dfc226b@group.calendar.google.com",
          "cachedResultName": "ABA"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "id": "15058259-6f9f-4d80-80a4-ed86944edae7",
      "name": "update_Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        3584,
        1680
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "1dcced70-aa89-4fde-8169-dc8b5badeb78",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3184,
        1680
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "replyTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}"
        }
      },
      "id": "9405ffeb-682c-422a-bf5f-6ed6ab7950a7",
      "name": "Gmail1",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        3728,
        1680
      ],
      "webhookId": "c26a9667-558f-4568-8f1a-59c5c55d58dd",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.html }}",
        "options": {
          "systemMessage": "=You are a helpful assistantYou are an intelligent appointment management assistant that processes email communications to handle appointment confirmations, modifications, and scheduling. Your primary responsibilities include managing calendar events and maintaining clear communication with clients. \nwhenever creating or updating a appointment add title and other details including the name of the user\nmake use of create_Calender, update_Calender, get_Calender and gmail1 node\nget the event id from Google Calendar1 node\nCore Functions\n1. Appointment Confirmation Processing\n\nMonitor incoming emails for appointment-related communications\nIdentify confirmation signals such as:\n\n\"Yes, I confirm the appointment\"\n\"The time works for me\"\n\"I'll be there\"\n\"Confirmed\"\nSimilar affirmative responses\n\n\nExtract appointment details including:\n\nDate and time\nDuration\nParticipant information\nMeeting type/purpose\n\n\n\n2. Calendar Management\n\nCreate new appointments when confirmations are received\nUpdate existing appointments with confirmed details\nCheck availability before proposing new times\nMaintain calendar accuracy by updating event statuses\n\n3. Appointment Modification Handling\nWhen emails indicate schedule changes:\n\nParse modification requests such as:\n\n\"Can we reschedule to...\"\n\"I need to move our meeting\"\n\"Is [new time] available?\"\n\"Can we change the appointment to...\"\n\n\nCheck calendar availability for requested new times\nIdentify conflicts and suggest alternative times if needed\nRespond with availability confirmation or alternative options\n\n4. Email Communication Protocol\n\nSend confirmation emails when appointments are successfully scheduled\nRequest clarification when appointment details are unclear\nProvide availability options when requested times conflict\nSend follow-up emails for pending confirmations\nMaintain professional tone in all communications\n\nDecision Logic\nFor Appointment Confirmations:\nIF email contains confirmation language AND appointment details are clear\n  → Update calendar with confirmed appointment\n  → Send confirmation email to participant\nELSE IF confirmation unclear\n  → Request clarification via email\nFor Schedule Change Requests:\nIF email requests time change\n  → Extract proposed new time\n  → Check calendar availability\n  IF time available\n    → Propose confirmation of new time\n    → Wait for final confirmation\n  ELSE\n    → Suggest alternative available times\n    → Wait for selection and confirmation\nFor Ambiguous Communications:\nIF email intent unclear\n  → Send clarifying questions\n  → Wait for response\n  → Process based on clarified intent\nResponse Templates\nConfirmation Success:\n\"Thank you for confirming your appointment on [Date] at [Time]. Your appointment has been scheduled and you'll receive a calendar invitation shortly.\"\nAvailability Check:\n\"I see you'd like to reschedule to [Requested Time]. Let me check availability... [Available Times]. Please confirm which time works best for you.\"\nClarification Request:\n\"I received your message regarding the appointment. Could you please clarify [specific question] so I can assist you properly?\"\nAvailability Conflict:\n\"Unfortunately, [Requested Time] is not available. Here are some alternative times that work: [List Options]. Please let me know which option you prefer.\"\nWorkflow States\nState 1: Monitoring\n\nContinuously monitor incoming emails\nClassify email intent (confirmation, modification, cancellation, inquiry)\n\nState 2: Processing\n\nParse email content for appointment details\nCross-reference with existing calendar data\nDetermine required action\n\nState 3: Action Execution\n\nUpdate calendar as needed\nPrepare appropriate email response\nSend communication to participant\n\nState 4: Awaiting Response\n\nMonitor for follow-up communications\nSet appropriate timeouts for responses\nEscalate unresolved items after reasonable timeframe\n\nError Handling\n\nInvalid dates/times: Request clarification with valid format examples\nCalendar conflicts: Automatically suggest alternatives\nMissing information: Ask specific questions to gather required details\nAmbiguous requests: Break down into specific, answerable questions\n\nSuccess Criteria\n\nAppointments are accurately reflected in calendar\nAll confirmations receive timely responses\nSchedule conflicts are resolved efficiently\nCommunication remains professional and clear\nNo appointments are lost or double-booked\n\nYour goal is to create a seamless appointment management experience that reduces manual intervention while ensuring accuracy and professional communication standards."
        }
      },
      "id": "1b1c3a52-0d80-401e-a40b-53a1c96f0c3f",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3472,
        1472
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "e3ce404900cffc797cca497fa68efabe30620d0b30b96ff59b64e5b25dfc226b@group.calendar.google.com",
          "cachedResultName": "ABA"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "id": "3e15eed0-7f2b-4899-9b9d-474d69581600",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        3840,
        1680
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "id": "d8facab8-dfcf-4e91-9483-6ef83c032ffa",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        3168,
        1472
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "e3ce404900cffc797cca497fa68efabe30620d0b30b96ff59b64e5b25dfc226b@group.calendar.google.com",
          "cachedResultName": "ABA"
        },
        "returnAll": true,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `use the appointment start time when it is scheduled`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `use the appointment end time when it is scheduled`, 'string') }}",
        "options": {}
      },
      "id": "82ecd4d3-4dbd-436b-bffb-2679c2edfe6b",
      "name": "Google Calendar1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        4048,
        1664
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `This is a test mail`, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Please include the location details of property that appointment has been scheduled.`, 'string') }}",
        "options": {}
      },
      "id": "53ba2f33-cb49-4940-875c-357b68ca6a31",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1184,
        1232
      ],
      "webhookId": "c2ab9aa4-e3da-4d5f-a3c1-4e12fcf6600c",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "e3ce404900cffc797cca497fa68efabe30620d0b30b96ff59b64e5b25dfc226b@group.calendar.google.com",
          "cachedResultName": "ABA"
        },
        "returnAll": true,
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `Three days after the \"after\"`, 'string') }}",
        "options": {}
      },
      "id": "cbd0e398-3c5c-4cd4-8cef-b7446ff568f1",
      "name": "get_Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        1408,
        1312
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "create an event after the confirmation mail from the user, add title description about the property and user details and return the event id to the agent",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "e3ce404900cffc797cca497fa68efabe30620d0b30b96ff59b64e5b25dfc226b@group.calendar.google.com",
          "cachedResultName": "ABA"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `start an event at the time of appointment scheduled in indian standard time`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `end the event an hour after the start of the event`, 'string') }}",
        "additionalFields": {
          "color": "7",
          "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `with buyer name`, 'string') }}"
        }
      },
      "id": "9c60f23a-fe49-49aa-8373-0430a4788bfc",
      "name": "create_Calendar1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        3408,
        1712
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sendTo": "markkevin109@gmail.com",
        "subject": "={{ $fromAI('subject', 'Customer Handoff Request', 'string') }}",
        "message": "=<b>Dear Mark,</b><br><br>\n\nI hope this email finds you well.<br><br>\n\nCustomer Details:<br>\n- Name: <b>{{ $fromAI('customer_name', 'Customer Name', 'string') }}</b><br>\n- Phone: <b>{{ $fromAI('customer_phone', 'Phone Number', 'string') }}</b><br>\n- Email:  <b>{{ $fromAI('customer_email', 'Email Address', 'string') }}</b><br><br>\n\nCustomer Message:<br>\n<b>{{ $fromAI('customer_message', 'Customer Message', 'string') }}</b><br><br>\n\nProperty Requirements (if any collected):<br>\n<b>{{ $fromAI('property_requirements', 'None specified', 'string') }}</b><br><br>\n\n<b>Please let me know if you need any further information or clarification.</b><br><br>\n\n<b>Best regards</b>",
        "options": {}
      },
      "id": "a9e49685-d350-4626-9557-6b7a588874fb",
      "name": "Human agent",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1488,
        1168
      ],
      "webhookId": "5e50135f-6164-49f3-901e-661a8c0486a6",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst message = input.json.body?.message || input.json.message || \"\";\n\n// Simple URL regex\nconst urlRegex = /(https?:\\/\\/[^\\s]+)/g;\n\n// Extract links\nconst foundLinks = message.match(urlRegex);\n\nreturn [\n  {\n    json: {\n      originalMessage: message,\n      link: foundLinks ? foundLinks[0] : null, // Return the first found link\n      allLinks: foundLinks || [],\n    }\n  }\n];\n"
      },
      "id": "3eabcb86-2772-4f69-8333-c6873239b485",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        768,
        960
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "db9f1cb5-db2a-448d-82f0-6e5449d36411",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.link }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "9c4a241e-ca4f-4d17-a1a5-3a26ab11a01d",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        912,
        768
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM new_properties\nWHERE propertyguru_url = $1 OR \"99.co_url\" = $1\nLIMIT 1;\n",
        "options": {
          "queryReplacement": "={{ $json.link }}"
        }
      },
      "id": "8e19f556-958b-45f1-950c-b095d8ad8636",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1232,
        752
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "jsCode": "const properties = $input.all().map((item) => item.json);\n\nconst propertySummaries = properties.map((property) => {\n  const {\n    \"Property Type\": propertyType,\n    \"Condo Name\": condoName,\n    \"Floor Level\": floorLevel,\n    \"Built Year\": builtYear,\n    \"Floor Area (sqft)\": floorArea,\n    Bedrooms: bedrooms,\n    Bathrooms: bathrooms,\n    \"Maid Room Available\": maidRoomAvailable,\n    \"Furnishing Status\": furnishingStatus,\n    Availability: availability,\n    \"Agency Fee Applicable\": agencyFeeApplicable,\n    \"Rental Price (SGD/month)\": rentalPrice,\n    \"Minimum Lease Period\": minimumLeasePeriod,\n    \"Security Deposit\": securityDeposit,\n    Street: street,\n    Level: level,\n    \"Unit No\": unitNo,\n    \"Postal Code\": postalCode,\n    City: city,\n    Country: country,\n    District: district,\n    \"Nearest MRT\": nearestMRT,\n    \"Distance from MRT\": distanceFromMRT,\n    \"MRT Line\": mrtLine,\n    \"Nearest Bus Stop\": nearestBusStop,\n    \"Nearest School\": nearestSchool,\n    \"Nearest University\": nearestUniversity,\n    \"Nearest Convenience Store\": nearestConvenienceStore,\n    Aircon: aircon,\n    Balcony: balcony,\n    Renovated: renovated,\n    \"Pet Friendly\": petFriendly,\n    \"Smoking Allowed\": smokingAllowed,\n    \"Cooking Allowed\": cookingAllowed,\n    Facing: facing,\n    \"BBQ Pits\": bbqPits,\n    Clubhouse: clubhouse,\n    Gym: gym,\n    \"Fitness Corner\": fitnessCorner,\n    Jacuzzi: jacuzzi,\n    \"Jogging Track\": joggingTrack,\n    \"Swimming Pool\": swimmingPool,\n    \"Gender Preferred\": genderPreferred,\n    \"Nationality Preference\": nationalityPreference,\n    \"Cooking Preference\": cookingPreference,\n    \"Visitors Allowed\": visitorsAllowed,\n    \"Group Size\": groupSize,\n    \"Preferred Profile\": preferredProfile,\n  } = property;\n\n  return `The property is a ${propertyType} named ${condoName} built in ${builtYear}. It is located at ${street}, ${city}, ${country} with postal code ${postalCode}. The condo is on the ${floorLevel} with a unit number ${unitNo}. It has a floor area of ${floorArea} sqft with ${bedrooms} bedrooms and ${bathrooms} bathrooms. Maid room is ${maidRoomAvailable ? \"available\" : \"not available\"}. The property is ${furnishingStatus} and is currently ${availability}. The rental price is SGD ${rentalPrice} per month with a minimum lease period of ${minimumLeasePeriod} and a security deposit of ${securityDeposit}. The property is ${renovated ? \"renovated\" : \"not renovated\"} with ${aircon ? \"air conditioning\" : \"no air conditioning\"} and ${balcony ? \"a balcony\" : \"no balcony\"}. The property is ${petFriendly ? \"pet friendly\" : \"not pet friendly\"} and ${smokingAllowed ? \"allows smoking\" : \"does not allow smoking\"}. Cooking is ${cookingAllowed ? \"allowed\" : \"not allowed\"} and the property faces ${facing}. The property has ${bbqPits ? \"BBQ pits\" : \"no BBQ pits\"}, ${clubhouse ? \"a clubhouse\" : \"no clubhouse\"}, ${gym ? \"a gym\" : \"no gym\"}, ${fitnessCorner ? \"a fitness corner\" : \"no fitness corner\"}, ${jacuzzi ? \"a jacuzzi\" : \"no jacuzzi\"}, ${joggingTrack ? \"a jogging track\" : \"no jogging track\"}, and ${swimmingPool ? \"a swimming pool\" : \"no swimming pool\"}. The preferred tenant profile is ${preferredProfile} with a group size of ${groupSize}. Visitors are ${visitorsAllowed ? \"allowed\" : \"not allowed\"}. The preferred gender is ${genderPreferred} and nationality is ${nationalityPreference}. Cooking preference is ${cookingPreference}. The nearest MRT station is ${nearestMRT} which is ${distanceFromMRT} away. The MRT line is ${mrtLine}. The nearest bus stop is ${nearestBusStop}, the nearest school is ${nearestSchool}, the nearest university is ${nearestUniversity}, and the nearest convenience store is ${nearestConvenienceStore}.`;\n});\n\nreturn { propertySummaries };\n"
      },
      "id": "185308d2-eec1-401c-b052-7a8761d4bb66",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        1760,
        752
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT storage_path,property_id\nFROM property_media\nWHERE property_id = $1\nLIMIT 1;\n",
        "options": {
          "queryReplacement": "={{ $json.ID }}"
        }
      },
      "id": "9858dcb1-0b5e-4081-ab59-e44b38260435",
      "name": "Get Property Media",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1840,
        1344
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = 'https://ztsgwqqxffrvqoqwrsjn.supabase.co/storage/v1/object/public/propertyimages/';\n\n// Use a Set to deduplicate, then take the first one\nconst urls = [...new Set(items.map(item => baseUrl + item.json.storage_path))];\n\nreturn [\n  {\n    json: {\n      image_url: urls[0] || null,  // If no image found, return null\n      id:$input.first().json.property_id\n    }\n  }\n];\n"
      },
      "id": "8c94ee9e-9ed3-4254-a565-550fccb2d2e9",
      "name": "construct_image_url",
      "type": "n8n-nodes-base.code",
      "position": [
        2064,
        1280
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "ID",
              "field2": "id"
            }
          ]
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "id": "1b4b4354-fba6-4c22-a221-8cc436228031",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        2272,
        1120
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "81840824-4572-4acf-afe6-f684fe9e72fe",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.Availability }}",
              "rightValue": "Immediate"
            }
          ]
        },
        "options": {}
      },
      "id": "9a80d799-0f25-4d8b-9140-bd4d8f351284",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        1440,
        720
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "cfd47691-fd82-4d62-9904-fb304c48906e",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2432,
        1248
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "#### Description\n###### A comprehensive real estate chatbot automation system that handles customer inquiries, property searches, and appointment scheduling through intelligent conversation flows and email processing. \n\n##### Entry Point\n 🌐 Webhook Trigger\n- Customer sends chat message\n- Extracts property links if shared\n- Routes to processing pipeline\n\n🔍 Link Detection  \n- Checks for property URLs\n- Fetches from database if found\n- Shows immediate results or continues chat\n\n##### 🤖 AI Chat Processing\n🛡️ Content Filter (PRIORITY)\n- Blocks non-real estate queries\n- Allows: rentals, purchases, viewings\n- Rejects: spam, adult content, unrelated\n\n🧠 Smart Info Extraction\n- Scans for personal details first\n- Extracts property requirements\n- Never asks for provided info\n- Handles bulk responses intelligently\n\n👤 Human Agent Handoff\n- Detects \"talk to human\" requests\n- Collects missing contact details\n- Gets customer's specific message\n- Sends handoff email with full context\n\n#### 📊 Data Collection\n##### 📋 Sequential Collection\nPersonal: Name → Phone → Email\nProperty: Type → Location → Budget → Timeline\n- Validates formats automatically\n- No redundant questions\n🗄️ Database Operations\n- Saves to user_info table\n- Searches new_properties with filters\n- Returns top 5 matches by price\n- Handles citizenship requirements\n\n##### 🖼️ Media Enhancement\n- Fetches property images\n- Constructs storage URLs\n- Merges with property data\n- Enhanced visual experience\n\n##### 📤 Output Generation\n✨ AI-Formatted Results\n- GPT-4 creates engaging listings\n- Professional yet friendly tone\n- Highlights key features\n- Includes images and details\n📱 Response Delivery\n- Sends formatted response\n- Maintains conversation memory\n- Ready for follow-up questions\n- Contextual awareness\n##### 🗓️ Appointment Automation\n##### 📧 Gmail Monitoring\n- Checks emails every hour\n- Detects appointment confirmations\n- Processes schedule changes\n- Handles customer communications\n\n##### 📅 Calendar Management\n- Creates confirmed appointments\n- Checks time availability\n- Updates/deletes as needed\n- Sends calendar invitations\n🤖 AI Appointment Agent\n- Processes email intelligently\n- Extracts dates and preferences\n- Responds with confirmations\n- Suggests alternatives if conflicts\n\n##### 🔑 Key Features\n\n🧠 Memory Retention - PostgreSQL chat memory across sessions\n🔒 Content Filtering - Blocks inappropriate requests upfront\n📊 Smart Extraction - Never asks for already-provided information\n🎯 Targeted Search - Multi-criteria property matching\n✨ AI Formatting - Professional property presentations\n📅 Auto Scheduling - Email-triggered appointment management\n👥 Human Handoff - Seamless agent escalation\n📱 Multi-channel - Webhook + Email processing\n",
        "height": 1980,
        "width": 460
      },
      "id": "63a4c62e-a2e7-4674-8c8a-97ce7dca3057",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## [SOURCE](https://n8n.io/workflows/7250-real-estate-chatbot-with-ai-property-matching-and-automated-calendar-scheduling/)",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        0
      ],
      "typeVersion": 1,
      "id": "4341d78f-2d53-445e-bf40-772e8fb0cb6d",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-19T07:14:04.519Z",
      "createdAt": "2025-11-19T07:14:04.519Z",
      "role": "workflow:owner",
      "workflowId": "NOTzNdjTu5VekC0B",
      "projectId": "epI1cymQzCzDlQMH"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-19T07:14:41.000Z",
  "versionId": "05cf3333-e47c-4d76-8881-22bbe81c9686"
}