workflows/WhatsApp con EvolutionAPI.json
{
  "active": false,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Normalizacion": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-20T00:37:53.105Z",
  "id": "ptQnT043FweKXMO5",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "WhatsApp con EvolutionAPI",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=El mensaje del usuario: {{ $('Webhook').item.json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "=Eres el asistente personal de Georgios, la idea es ayudarlo con lo que necesite, Georgios es dueño de una agencia de automatizaciones IA, pero tu función es ser su asistente personal y ayudarlo con tareas de la vida diaria. \n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "id": "098e34a3-cd93-42c1-a9f4-ed0b6cfdc558",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        896,
        240
      ],
      "id": "e2e4e4cb-8889-43dd-9435-d7cee1afc02f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aKfvNfQbjB1WCvlS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "= {{ $('Normalizacion').item.json.user_number }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1104,
        368
      ],
      "id": "7ec2725e-5d0e-4cf5-833d-bffbd88d08cb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9419665-41fc-43b9-aef7-d521a1ba2035",
              "name": "url_server",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "c3cb8673-8006-4079-a304-c58ffc267226",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "e462da04-7f8b-4fbe-aacd-7956666c2ede",
              "name": "apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "b06da722-eea2-4f28-a2d4-7bcc6592b952",
              "name": "message_id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "1c280646-7eb8-4118-9e8d-432f04a763b7",
              "name": "chatid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        0
      ],
      "id": "15773a80-c5f5-43d4-805a-6fe31ca59193",
      "name": "Normalizacion"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "numero",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "d72a16c1-9aac-4a89-9995-e8b3b2057d1d",
      "name": "Webhook",
      "webhookId": "6dff1e56-c180-4969-ae6a-e3f08cca3ed9"
    },
    {
      "parameters": {
        "content": "# NOTE\n## Para que funcione el nodo \"Enviar mensaje\" he tenido que cambiar en la svariables de **Evolution** en **EasyPanel**\n\n## #SERVER_URL=http://localhost:8080\n## SERVER_URL=https://$(PRIMARY_DOMAIN)",
        "height": 304,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        -64
      ],
      "typeVersion": 1,
      "id": "8dec5728-cb78-4d0c-a3d1-d7ef66c52681",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalizacion').item.json.url_server }}/message/sendText/{{ $('Normalizacion').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Normalizacion').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Normalizacion').item.json.chatid.split('@')[0] }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "delay",
              "value": "={{ 1000 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        0
      ],
      "id": "124b659b-73da-48c2-ac5e-44e0e0ccbf3f",
      "name": "Enviar mensaje"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-20T00:37:53.109Z",
      "createdAt": "2025-11-20T00:37:53.109Z",
      "role": "workflow:owner",
      "workflowId": "ptQnT043FweKXMO5",
      "projectId": "epI1cymQzCzDlQMH"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-20T02:47:08.000Z",
  "versionId": "b9f93f25-eb50-4750-9a14-d96c791937d2"
}