workflows/Workflow para Backups.json
{
  "active": false,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "¿Hay Cambios?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "Bucle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "Bucle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sin cambios": {
      "main": [
        [
          {
            "node": "Bucle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diferente": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nuevos Cambios": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Cambios?": {
      "main": [
        [
          {
            "node": "Estado Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado Github": {
      "main": [
        [
          {
            "node": "Sin cambios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Diferente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nuevos Cambios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bucle": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Bucle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-30T01:35:24.619Z",
  "id": "mt0xS39MCOHT4j0d",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Workflow para Backups",
  "nodes": [
    {
      "parameters": {},
      "id": "17284520-f327-4bda-82df-e60e14cac0bc",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1344,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}"
        },
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "49b773c3-716b-4561-955e-7870c673a9d6",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        0,
        176
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "72c31034-2267-4426-b1be-91753ee90b2a",
      "credentials": {
        "githubApi": {
          "id": "Fmspbsge3rrFQ0KV",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"Bucle\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"¿Hay Cambios?\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"Bucle\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "af65277b-6118-43a4-898e-fd7227e97112",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        1120,
        480
      ],
      "typeVersion": 1,
      "webhookId": "2e1271a2-7de2-49f5-b3cf-267f4d7baef8",
      "credentials": {
        "githubApi": {
          "id": "Fmspbsge3rrFQ0KV",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"Bucle\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"¿Hay Cambios?\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"Bucle\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "ef07ff4a-ce0d-4ee8-b7e5-a9ff1b969adb",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        1120,
        672
      ],
      "typeVersion": 1,
      "webhookId": "82afffc4-8a37-492a-8709-666b5c884588",
      "credentials": {
        "githubApi": {
          "id": "Fmspbsge3rrFQ0KV",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "bf3422d5-fa27-4d99-b1b9-fcaff3df5f2f",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1344,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "ec800609-1894-47c9-9fd0-2e11c016f813",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -864,
        224
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "LZrNLrNYWGL2gsPA",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {},
      "id": "001c1ac4-3742-4cda-ae9a-9db68fd91680",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        224,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "burnham"
            },
            {
              "name": "repo.name",
              "value": "n8n_bkp"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "6f98f1f3-63b3-4da2-8de4-f02f20302307",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -1088,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0a968ccb-cb8d-4c57-bb46-112c6950fe66",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        -16
      ]
    },
    {
      "parameters": {},
      "id": "8743e039-a5d8-4db4-b17f-f1b07f06159e",
      "name": "Sin cambios",
      "type": "n8n-nodes-base.noOp",
      "position": [
        896,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "49b90d9d-e853-4b00-a968-feb47b772c43",
      "name": "Diferente",
      "type": "n8n-nodes-base.noOp",
      "position": [
        896,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7e4af26c-9052-43c5-b28f-a53b3d1a3482",
      "name": "Nuevos Cambios",
      "type": "n8n-nodes-base.noOp",
      "position": [
        896,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "c6c4ecd0-0b1e-4e5d-8dc2-9fa0d4c3b058",
      "name": "¿Hay Cambios?",
      "type": "n8n-nodes-base.code",
      "position": [
        448,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "a4185233-fb49-48ee-8b7b-6c0578939ee5",
      "name": "Estado Github",
      "type": "n8n-nodes-base.switch",
      "position": [
        672,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e092afc7-a690-4418-815c-f0c32d0f1220",
      "name": "Bucle",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6670fda-dd5a-4d08-b4fd-87f96225a8c0",
              "leftValue": "={{$json.length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        224
      ],
      "id": "61873353-a693-4503-89a7-97e33d82b7be",
      "name": "If"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-30T01:35:24.632Z",
      "createdAt": "2025-10-30T01:35:24.632Z",
      "role": "workflow:owner",
      "workflowId": "mt0xS39MCOHT4j0d",
      "projectId": "epI1cymQzCzDlQMH"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-30T03:00:47.000Z",
  "versionId": "75fc158b-090a-4ddb-b487-83bae67142a9"
}